Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, cloudformation

black:
  name: formatting::black
  entry: poetry run black
  language: system

isort:
  name: formatting::isort
  entry: poetry run isort
  language: system

flake8:
  name: linting::flake8
  entry: poetry run flake8
  language: system

cloudformation:
  name: linting::cloudformation
  entry: poetry run cfn-lint
  language: system

support patching botocore session. Which is used in Datamasking's kms client
  aws_lambda_powertools/shared/user_agent.py
Due: black, isort, flake8

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

Fixing unit tests for SQS Events to assert against raw_event instead of hardcoded values
  tests/unit/data_classes/test_sqs_event.py
Due: black, isort, flake8

Changing property name on sqs_event to use noun instead of verb (e.g., decoded_nested_sns_event instead of decode_nested_sns_event)
  aws_lambda_powertools/utilities/data_classes/sqs_event.py
  tests/unit/data_classes/test_sqs_event.py
Due: black, isort, flake8

feat(event_source): decode nested messages on SQS events (#2349)
  aws_lambda_powertools/utilities/data_classes/sns_event.py
  aws_lambda_powertools/utilities/data_classes/sqs_event.py
  tests/unit/data_classes/test_sqs_event.py
Due: black, isort, flake8

Deployed e8bce91b to develop with MkDocs 1.4.3 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

chore(ci): bump version to 2.19.0
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, isort, flake8

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, isort, flake8

chore(ci): layer docs update
  CHANGELOG.md
  docs/index.md
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: cloudformation

Deployed 0f9272f7 to develop with MkDocs 1.4.3 and mike 1.1.2
  develop/changelog/index.html
  develop/core/logger/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

fix(docs): ensure alias is in an array
  .github/workflows/reusable_publish_docs.yml
Due: none

fix(docs): ensure version alias is in an array to prevent "you're not viewing the latest version" incorrect message (#2629)
  .github/workflows/reusable_publish_docs.yml
Due: none

moving function tests to unit tests
  tests/functional/parser/test_alb.py
  tests/unit/parser/conftest.py
  tests/unit/parser/schemas.py
  tests/unit/parser/test_alb.py
  tests/unit/parser/test_apigw.py
Due: black, isort, flake8

moving + refactoring apigwv2
  tests/functional/parser/test_apigwv2.py
  tests/unit/parser/test_alb.py
  tests/unit/parser/test_apigw.py
  tests/unit/parser/test_apigwv2.py
Due: black, isort, flake8

moving + cloudwatch
  tests/unit/parser/test_cloudwatch.py
Due: black, isort, flake8

pydantic 2.0
  poetry.lock
  pyproject.toml
Due: none

upgrade bump-version plugin to avoid using pydantic 2.0
  Makefile
  poetry.lock
  pyproject.toml
Due: none

chore(ci): openssf remediation for GH Actions
  .github/workflows/build_changelog.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/label_pr_on_title.yml
  .github/workflows/on_closed_issues.yml
  .github/workflows/on_label_added.yml
  .github/workflows/on_merged_pr.yml
  .github/workflows/on_opened_pr.yml
  .github/workflows/on_push_docs.yml
  .github/workflows/publish_v2_layer.yml
  .github/workflows/quality_check.yml
  .github/workflows/rebuild_latest_docs.yml
  .github/workflows/record_pr.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  .github/workflows/reusable_deploy_v2_layer_stack.yml
  .github/workflows/reusable_export_pr_details.yml
  .github/workflows/reusable_publish_changelog.yml
  .github/workflows/run-e2e-tests.yml
  .github/workflows/secure_workflows.yml
Due: none

chore(ci): prevent merging PRs that do not meet minimum requirements
  .github/workflows/on_pr_updates.yml
Due: none

chore(ci): prevent merging PRs that do not meet minimum requirements (#2639)
  .github/workflows/on_pr_updates.yml
Due: none

chore(ci): enforce top-level permission to minimum fail-safe permission as per openssf (#2638)
  .github/workflows/build_changelog.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/label_pr_on_title.yml
  .github/workflows/on_closed_issues.yml
  .github/workflows/on_label_added.yml
  .github/workflows/on_merged_pr.yml
  .github/workflows/on_opened_pr.yml
  .github/workflows/on_push_docs.yml
  .github/workflows/publish_v2_layer.yml
  .github/workflows/quality_check.yml
  .github/workflows/rebuild_latest_docs.yml
  .github/workflows/record_pr.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  .github/workflows/reusable_deploy_v2_layer_stack.yml
  .github/workflows/reusable_export_pr_details.yml
  .github/workflows/reusable_publish_changelog.yml
  .github/workflows/run-e2e-tests.yml
  .github/workflows/secure_workflows.yml
Due: none

chore: correct job name for pr updates requirements
  .github/workflows/on_pr_updates.yml
Due: none

fix(ci): propagate content read to nested workflow
  .github/workflows/label_pr_on_title.yml
  .github/workflows/on_label_added.yml
  .github/workflows/on_merged_pr.yml
  .github/workflows/on_opened_pr.yml
Due: none

chore(ci): propagate checkout permission to nested workflows (#2642)
  .github/workflows/label_pr_on_title.yml
  .github/workflows/on_label_added.yml
  .github/workflows/on_merged_pr.yml
  .github/workflows/on_opened_pr.yml
  .github/workflows/on_pr_updates.yml
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$
  cloudformation: any of: examples/.* and \.(yaml|yml)$
