Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: isort
        name: formatting::isort
        entry: poetry run isort
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: flake8
        name: linting::flake8
        entry: poetry run flake8
        language: system
        types: [python]
        exclude: example
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "11c08644ce6df850480d98f628596446a526cbc6" # frozen: v0.31.1
    hooks:
      - id: markdownlint
        args: ["--fix"]

docs(apigateway): add ALB to testing section
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/assert_alb_api_resolver_response.py
  examples/event_handler_rest/src/assert_alb_api_response_module.py
Due: black, isort

docs(apigateway): add Lambda function URL to testing section
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/assert_function_url_api_resolver_response.py
  examples/event_handler_rest/src/assert_function_url_api_response_module.py
Due: black, isort

docs(apigateway): fix inconsistencies between resolvers
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/assert_alb_api_resolver_response.py
  examples/event_handler_rest/src/assert_function_url_api_resolver_response.py
  examples/event_handler_rest/src/assert_http_api_resolver_response.py
  examples/event_handler_rest/src/assert_rest_api_resolver_response.py
  examples/event_handler_rest/src/assert_rest_api_response_module.py
Due: black, isort

docs(apigateway): use friendly name for consistency on heading
  docs/core/event_handler/api_gateway.md
Due: none

docs: update default value of `POWERTOOLS_DEV`
  docs/index.md
Due: none

Update README.md
  README.md
Due: none

Adding AWS Docs URL for ALB
  examples/event_handler_rest/src/assert_alb_api_resolver_response.py
Due: black, isort

Adding AWS Docs URL for Lambda Function URL
  examples/event_handler_rest/src/assert_function_url_api_resolver_response.py
Due: black, isort

Adding AWS Docs URL for API Gateway HTTP API
  examples/event_handler_rest/src/assert_http_api_resolver_response.py
Due: black, isort

Adding AWS Docs URL for API Gateway REST API
  examples/event_handler_rest/src/assert_rest_api_resolver_response.py
Due: black, isort

docs(homepage): update default value for `POWERTOOLS_DEV` (#1695)
  docs/index.md
Due: none

update changelog with latest changes
  CHANGELOG.md
Due: none

docs(apigateway): add all resolvers in testing your code section for accuracy (#1688)
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/assert_alb_api_resolver_response.py
  examples/event_handler_rest/src/assert_alb_api_response_module.py
  examples/event_handler_rest/src/assert_function_url_api_resolver_response.py
  examples/event_handler_rest/src/assert_function_url_api_response_module.py
  examples/event_handler_rest/src/assert_http_api_resolver_response.py
  examples/event_handler_rest/src/assert_http_api_response_module.py
  examples/event_handler_rest/src/assert_rest_api_resolver_response.py
  examples/event_handler_rest/src/assert_rest_api_response_module.py
Due: black, isort

docs(examples): linting unnecessary whitespace
  examples/event_handler_rest/src/assert_rest_api_resolver_response.py
Due: black, isort

chore(ci): limit to src only to prevent dependabot failures
  .github/workflows/codeql-analysis.yml
Due: none

chore(ci): use new custom hw for E2E
  .github/actionlint.yaml
  .github/workflows/run-e2e-tests.yml
Due: none

chore(ci): prevent dependabot updates to trigger E2E
  .github/workflows/run-e2e-tests.yml
Due: none

docs: project name consistency
  docs/index.md
  docs/tutorial/index.md
  docs/utilities/feature_flags.md
  docs/we_made_this.md
Due: none

chore(ci): revert custom hw for E2E due to lack of hw
  .github/workflows/run-e2e-tests.yml
Due: none

adds support for multiple exceptions one one handler function
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/test_api_gateway.py
Due: black, isort, flake8

add note on documentation
  docs/core/event_handler/api_gateway.md
Due: none

fix typing issue
  aws_lambda_powertools/event_handler/api_gateway.py
Due: black, isort, flake8

fix(apigateway): allow nested router decorators
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/events/apiGatewayProxyEventAnotherPath.json
  tests/functional/event_handler/test_api_gateway.py
Due: black, isort, flake8

feat(apigateway): multiple exceptions in exception_handler (#1707)
  aws_lambda_powertools/event_handler/api_gateway.py
  docs/core/event_handler/api_gateway.md
  tests/functional/event_handler/test_api_gateway.py
Due: black, isort, flake8

chore: apigw test event wrongly set with base64
  tests/events/apiGatewayProxyEvent.json
Due: none

feat(event_sources): extract CW logs in Kinesis
  aws_lambda_powertools/utilities/data_classes/kinesis_stream_event.py
Due: black, isort, flake8

feat(event_sources): test extract CW logs in Kinesis
  tests/events/kinesisStreamCloudWatchLogsEvent.json
  tests/functional/test_data_classes.py
Due: black, isort, flake8

docs(event_sources): document CW logs -> Kinesis integration
  docs/utilities/data_classes.md
Due: none

fix: revert property decorator accidentally removed
  aws_lambda_powertools/utilities/data_classes/kinesis_stream_event.py
Due: black, isort, flake8

chore(logger): overload inject_lambda_context with generics (#1583)
  aws_lambda_powertools/logging/logger.py
Due: black, isort, flake8

chore: tests bdd comment
  tests/functional/event_handler/test_api_gateway.py
Due: black, isort, flake8

fix(apigateway): support nested router decorators (#1709)
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/events/apiGatewayProxyEventAnotherPath.json
  tests/functional/event_handler/test_api_gateway.py
Due: black, isort, flake8

fix(parameters): get_secret can now fetch binary secrets
  aws_lambda_powertools/utilities/parameters/secrets.py
Due: black, isort, flake8
