Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

black:
  name: formatting::black
  entry: poetry run black
  language: system

isort:
  name: formatting::isort
  entry: poetry run isort
  language: system

flake8:
  name: linting::flake8
  entry: poetry run flake8
  language: system

update changelog with latest changes
  CHANGELOG.md
Due: none

fix(logger): fix unknown attributes being ignored by mypy
  aws_lambda_powertools/logging/logger.py
Due: black, isort, flake8

chore(governance): remove 'area/' from PR labels
  .github/boring-cyborg.yml
Due: none

fix(logger): fix unknown attributes being ignored by mypy (#1670)
  aws_lambda_powertools/logging/logger.py
Due: black, isort, flake8

chore: update v2 layer ARN on documentation
  docs/index.md
Due: none

feat(metrics): add support to not share data among Metrics instance
  aws_lambda_powertools/metrics/base.py
  aws_lambda_powertools/metrics/metrics.py
  tests/functional/test_metrics.py
Due: black, isort, flake8

chore(metrics): add test for nested metric blobs
  tests/functional/test_metrics.py
Due: black, isort, flake8

Update parallel_run_e2e.py
  parallel_run_e2e.py
Due: black, isort, flake8

Update run-e2e-tests.yml
  .github/workflows/run-e2e-tests.yml
Due: none

Update README.md
  README.md
Due: none

refactor(metrics): move common logic to MetricManagaer base class
  aws_lambda_powertools/metrics/base.py
  aws_lambda_powertools/metrics/metric.py
  aws_lambda_powertools/metrics/metrics.py
  aws_lambda_powertools/shared/functions.py
  tests/functional/test_metrics.py
Due: black, isort, flake8

chore(tests): ensure env_var continues to work for refactored Metrics
  aws_lambda_powertools/metrics/metrics.py
  tests/functional/test_metrics.py
Due: black, isort, flake8

feat(metrics): add EphemeralMetrics as alternative to singleton Metrics class
  aws_lambda_powertools/metrics/__init__.py
  aws_lambda_powertools/metrics/base.py
  aws_lambda_powertools/metrics/metrics.py
  tests/functional/test_metrics.py
Due: black, isort, flake8

docs(metrics): metrics isolation section and design explanation
  docs/core/metrics.md
  examples/metrics/src/ephemeral_metrics.py
Due: black, isort

feat(metrics): add EphemeralMetrics as a non-singleton option (#1676)
  aws_lambda_powertools/metrics/__init__.py
  aws_lambda_powertools/metrics/base.py
  aws_lambda_powertools/metrics/metric.py
  aws_lambda_powertools/metrics/metrics.py
  aws_lambda_powertools/shared/functions.py
  docs/core/metrics.md
  examples/metrics/src/ephemeral_metrics.py
  tests/functional/test_metrics.py
Due: black, isort, flake8

Update python_build.yml
  .github/workflows/python_build.yml
Due: none

Update Makefile
  Makefile
Due: none

Update build_changelog.yml
  .github/workflows/build_changelog.yml
Due: none

Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Update rebuild_latest_docs.yml
  .github/workflows/rebuild_latest_docs.yml
Due: none

Update release-drafter.yml
  .github/workflows/release-drafter.yml
Due: none

Update secure_workflows.yml
  .github/workflows/secure_workflows.yml
Due: none

Update reusable_publish_changelog.yml
  .github/workflows/reusable_publish_changelog.yml
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$, but not: example
