Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

black:
  name: formatting::black
  entry: poetry run black
  language: system

isort:
  name: formatting::isort
  entry: poetry run isort
  language: system

flake8:
  name: linting::flake8
  entry: poetry run flake8
  language: system

chore(docs): add documentation for Lambda Functoin URLs
  docs/core/event_handler/lambda_function_url.md
  docs/index.md
  examples/event_handler_lambda_function_url/sam/template.yaml
  examples/event_handler_lambda_function_url/src/getting_started_lambda_function_url_resolver.json
  examples/event_handler_lambda_function_url/src/getting_started_lambda_function_url_resolver.py
Due: black, isort

chore(docs): remove file commited by mistake
  docs/core/event_handler/lambda_function_url.md
Due: none

chore(docs): updated links
  aws_lambda_powertools/event_handler/lambda_function_url.py
  aws_lambda_powertools/utilities/data_classes/lambda_function_url_event.py
Due: black, isort, flake8

chore(docs): typo
  docs/utilities/data_classes.md
Due: none

chore(docs): remove pause sentence from roadmap
  docs/roadmap.md
Due: none

chore(governance/dev): Removing support to devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

chore(governance): Adding restriction to Python 3.10
  pyproject.toml
Due: none

chore: typos
  aws_lambda_powertools/event_handler/lambda_function_url.py
Due: black, isort, flake8

chore(governance): remove devcontainer in favour of gitpod.io (#1411)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

chore(docs): remove pause sentence from roadmap (#1409)
  docs/roadmap.md
Due: none

chore(event_handlers): apply suggestions from code review
  aws_lambda_powertools/event_handler/lambda_function_url.py
  aws_lambda_powertools/logging/correlation_paths.py
  aws_lambda_powertools/utilities/data_classes/api_gateway_proxy_event.py
  aws_lambda_powertools/utilities/data_classes/common.py
  aws_lambda_powertools/utilities/data_classes/lambda_function_url_event.py
  docs/core/event_handler/api_gateway.md
  docs/index.md
  examples/event_handler_lambda_function_url/sam/template.yaml
Due: black, isort, flake8

chore(tests): add missing new line
  tests/events/lambdaFunctionUrlEvent.json
Due: none

chore(tests): typo
  tests/events/lambdaFunctionUrlEvent.json
Due: none

feat(event_handlers): Add support for Lambda Function URLs (#1408)
  aws_lambda_powertools/event_handler/__init__.py
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/lambda_function_url.py
  aws_lambda_powertools/logging/correlation_paths.py
  aws_lambda_powertools/utilities/data_classes/__init__.py
  aws_lambda_powertools/utilities/data_classes/api_gateway_proxy_event.py
  aws_lambda_powertools/utilities/data_classes/common.py
  aws_lambda_powertools/utilities/data_classes/lambda_function_url_event.py
  docs/core/event_handler/api_gateway.md
  docs/index.md
  docs/utilities/data_classes.md
  examples/event_handler_lambda_function_url/sam/template.yaml
  examples/event_handler_lambda_function_url/src/getting_started_lambda_function_url_resolver.json
  examples/event_handler_lambda_function_url/src/getting_started_lambda_function_url_resolver.py
  tests/events/lambdaFunctionUrlEvent.json
  tests/functional/data_classes/test_lambda_function_url.py
  tests/functional/event_handler/test_lambda_function_url.py
Due: black, isort, flake8

improv(metrics): Adding support to 30 dimensions
  aws_lambda_powertools/metrics/base.py
  tests/functional/test_metrics.py
Due: black, isort, flake8

docs(jmespath_function): snippets split, improved, fixed and lint
  docs/utilities/jmespath_functions.md
  examples/jmespath_functions/src/extract_data_from_builtin_envelope.json
  examples/jmespath_functions/src/extract_data_from_builtin_envelope.py
  examples/jmespath_functions/src/extract_data_from_envelope.json
  examples/jmespath_functions/src/extract_data_from_envelope.py
  examples/jmespath_functions/src/powertools_base64_gzip_jmespath_function.py
  examples/jmespath_functions/src/powertools_base64_gzip_jmespath_schema.py
  examples/jmespath_functions/src/powertools_base64_jmespath_function.py
  examples/jmespath_functions/src/powertools_base64_jmespath_schema.py
  examples/jmespath_functions/src/powertools_custom_jmespath_function.json
  examples/jmespath_functions/src/powertools_custom_jmespath_function.py
  examples/jmespath_functions/src/powertools_json_idempotency_jmespath.json
  examples/jmespath_functions/src/powertools_json_idempotency_jmespath.py
  examples/jmespath_functions/src/powertools_json_jmespath_function.py
  examples/jmespath_functions/src/powertools_json_jmespath_schema.py
Due: black, isort

docs(jmespath_function): code highlights
  docs/utilities/jmespath_functions.md
Due: none

feat(ci): create reusable changelog generation
  .github/workflows/reusable_publish_changelog.yml
Due: none

chore(ci): readd changelog step on release
  .github/workflows/publish.yml
Due: none

fix(ci): job permissions
  .github/workflows/publish.yml
Due: none

fix(ci): add additional input to accurately describe intent on skip
  .github/workflows/publish.yml
Due: none

chore(ci): update release automated activities
  .github/workflows/publish.yml
Due: none

feat(ci): include changelog generation on docs build
  .github/workflows/python_docs.yml
Due: none

chore(ci): use reusable changelog over manual
  .github/workflows/rebuild_latest_docs.yml
Due: none

feat(ci): create reusable changelog generation (#1418)
  .github/workflows/publish.yml
  .github/workflows/python_docs.yml
  .github/workflows/rebuild_latest_docs.yml
  .github/workflows/reusable_publish_changelog.yml
Due: none

chore(docs): update site name to test ci changelog
  mkdocs.yml
Due: none

chore(ci): update changelog with latest changes
  CHANGELOG.md
Due: none

fix(ci): changelog workflow must receive git tags too
  .github/workflows/reusable_publish_changelog.yml
Due: none

chore(docs): update description to trigger changelog generation
  docs/index.md
Due: none

chore(ci): add manual trigger for docs
  .github/workflows/python_docs.yml
Due: none

improv(metrics): Using MAX_DIMENSIONS constant in test file to avoid changes in future
  tests/functional/test_metrics.py
Due: black, isort, flake8

fix(event_sources): add test for Function URL AuthZ
  aws_lambda_powertools/utilities/data_classes/api_gateway_proxy_event.py
  tests/events/lambdaFunctionUrlEvent.json
  tests/events/lambdaFunctionUrlIAMEvent.json
  tests/functional/data_classes/test_lambda_function_url.py
  tests/functional/event_handler/test_lambda_function_url.py
Due: black, isort, flake8

chore(event_sources): re-add deleted comment about function urls.
  aws_lambda_powertools/utilities/data_classes/api_gateway_proxy_event.py
Due: black, isort, flake8

docs(metrics): update max dimensions
  docs/core/metrics.md
Due: none

chore(tests): n+1 is sufficient to trigger exception
  tests/functional/test_metrics.py
Due: black, isort, flake8

feat(metrics): update max user-defined dimensions from 9 to 29 (#1417)
  aws_lambda_powertools/metrics/base.py
  docs/core/metrics.md
  tests/functional/test_metrics.py
Due: black, isort, flake8

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$, but not: example
