Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: isort
        name: formatting::isort
        entry: poetry run isort
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: flake8
        name: linting::flake8
        entry: poetry run flake8
        language: system
        types: [python]
        exclude: example
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "11c08644ce6df850480d98f628596446a526cbc6" # frozen: v0.31.1
    hooks:
      - id: markdownlint
        args: ["--fix"]

docs(validation): fix broken link; enrich built-in jmespath links (#1777)
  docs/utilities/validation.md
Due: none

update changelog with latest changes
  CHANGELOG.md
Due: none

chore(common): reusable function to extract event from models
  aws_lambda_powertools/shared/functions.py
  tests/functional/test_shared_functions.py
Due: black, isort, flake8

feat(logger): unwrap event from common models if asked to log
  aws_lambda_powertools/logging/logger.py
Due: black, isort, flake8

feat(logger): unwrap event from common models if asked to log (#1778)
  aws_lambda_powertools/logging/logger.py
Due: black, isort, flake8

chore(tests): move shared_functions to unit tests
  tests/unit/test_shared_functions.py
Due: black, isort, flake8

Update aws_lambda_powertools/utilities/batch/base.py
  aws_lambda_powertools/utilities/batch/base.py
Due: black, isort, flake8

feat: better implementation of async loop
  aws_lambda_powertools/utilities/batch/base.py
Due: black, isort, flake8

fix(headers-serializer): skiping none values
  aws_lambda_powertools/shared/headers_serializer.py
  tests/functional/test_headers_serializer.py
Due: black, isort, flake8

chore(complexity): checks for null over falsy, list.extend over nested loop
  aws_lambda_powertools/shared/headers_serializer.py
Due: black, isort, flake8

fix(event_handlers): omit explicit None HTTP header values (#1793)
  aws_lambda_powertools/shared/headers_serializer.py
  tests/functional/test_headers_serializer.py
Due: black, isort, flake8

bump version to 2.5.0
  pyproject.toml
Due: none

chore: update v2 layer ARN on documentation
  docs/index.md
Due: none

Log nested exception for idempotency feature
  CHANGELOG.md
  aws_lambda_powertools/utilities/idempotency/base.py
  aws_lambda_powertools/utilities/idempotency/exceptions.py
  tests/functional/idempotency/test_idempotency.py
Due: black, isort, flake8

Refactor code
  aws_lambda_powertools/utilities/idempotency/base.py
  aws_lambda_powertools/utilities/idempotency/exceptions.py
  tests/functional/idempotency/test_idempotency.py
Due: black, isort, flake8

Fix(idempotency): Log nested exception message (#1813)
  aws_lambda_powertools/utilities/idempotency/base.py
  aws_lambda_powertools/utilities/idempotency/exceptions.py
  tests/functional/idempotency/test_idempotency.py
Due: black, isort, flake8

feat: introduce specialized routers for typing
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/router.py
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/split_route_append_context_module.py
  examples/event_handler_rest/src/split_route_module.py
  examples/event_handler_rest/src/split_route_prefix_module.py
  examples/event_handler_rest/src/split_route_specialized_router.py
  tests/functional/event_handler/test_api_gateway.py
  tests/functional/event_handler/test_router.py
Due: black, isort, flake8

chore: export top level constants
  aws_lambda_powertools/event_handler/__init__.py
Due: black, isort, flake8

fix: move router back to api_gateway.py
  aws_lambda_powertools/event_handler/__init__.py
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/router.py
  examples/event_handler_rest/src/split_route_append_context_module.py
  examples/event_handler_rest/src/split_route_module.py
  examples/event_handler_rest/src/split_route_prefix_module.py
  tests/functional/event_handler/test_api_gateway.py
Due: black, isort, flake8

fix: remove old changes
  aws_lambda_powertools/event_handler/__init__.py
  aws_lambda_powertools/event_handler/api_gateway.py
  examples/event_handler_rest/src/split_route_append_context_module.py
  examples/event_handler_rest/src/split_route_module.py
  examples/event_handler_rest/src/split_route_prefix_module.py
  tests/functional/event_handler/test_api_gateway.py
Due: black, isort, flake8

fix: review
  aws_lambda_powertools/event_handler/router.py
Due: black, isort, flake8

docs(uncaught exception): adding warning
  docs/core/logger.md
Due: none

docs(logger): Add warning of uncaught exceptions (#1826)
  docs/core/logger.md
Due: none

fix: api_gateway debug events now end with newlines
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/test_api_gateway.py
Due: black, isort, flake8

fix(api_gateway): fixed custom metrics issue when using debug mode (#1827)
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/test_api_gateway.py
Due: black, isort, flake8

docs(apigw) - adding full example
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/split_route_specialized_router.py
Due: black, isort

(feat): introduce specialized routers for typing (#1824)
  aws_lambda_powertools/event_handler/router.py
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/split_route_specialized_router.py
  tests/functional/event_handler/test_router.py
Due: black, isort, flake8

docs(logger): fix incorrect field names in example structured logs
  examples/logger/src/bring_your_own_formatter_from_scratch_output.json
  examples/logger/src/clear_state_event_one.json
  examples/logger/src/clear_state_event_two.json
  examples/logger/src/inject_lambda_context_output.json
  examples/logger/src/logger_reuse_output.json
  examples/logger/src/sampling_debug_logs_output.json
  examples/logger/src/set_correlation_id_jmespath_output.json
  examples/logger/src/set_correlation_id_output.json
Due: none

docs(logger): fix incorrect field names in example structured logs (#1830)
  examples/logger/src/bring_your_own_formatter_from_scratch_output.json
  examples/logger/src/clear_state_event_one.json
  examples/logger/src/clear_state_event_two.json
  examples/logger/src/inject_lambda_context_output.json
  examples/logger/src/logger_reuse_output.json
  examples/logger/src/sampling_debug_logs_output.json
  examples/logger/src/set_correlation_id_jmespath_output.json
  examples/logger/src/set_correlation_id_output.json
Due: none

bump version to 2.6.0
  pyproject.toml
Due: none

feature: time conditions
  aws_lambda_powertools/utilities/feature_flags/feature_flags.py
  aws_lambda_powertools/utilities/feature_flags/time_conditions.py
Due: black, isort, flake8

feature: time conditions
  aws_lambda_powertools/utilities/feature_flags/feature_flags.py
  aws_lambda_powertools/utilities/feature_flags/schema.py
  aws_lambda_powertools/utilities/feature_flags/time_conditions.py
  tests/functional/feature_flags/test_time_based_actions.py
Due: black, isort, flake8

chore: use built-in datetime utc tz over 3P
  tests/functional/feature_flags/test_time_based_actions.py
Due: black, isort, flake8
