Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: isort
        name: formatting::isort
        entry: poetry run isort
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: flake8
        name: linting::flake8
        entry: poetry run flake8
        language: system
        types: [python]
        exclude: example
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "11c08644ce6df850480d98f628596446a526cbc6" # frozen: v0.31.1
    hooks:
      - id: markdownlint
        args: ["--fix"]

chore(ci): fix reference error in related_issue
  .github/scripts/label_related_issue.js
Due: none

fix: download artefact into the layer dir
  .github/workflows/reusable_deploy_layer_stack.yml
Due: none

fix: mathc the name of the cdk synth from the build phase
  .github/workflows/reusable_deploy_layer_stack.yml
Due: none

fix: sight, yes a whitespace character breaks the build
  .github/workflows/reusable_deploy_layer_stack.yml
Due: none

docs(tracer): match code snippet name with filename
  docs/core/tracer.md
  examples/tracer/src/tracer_reuse.py
  examples/tracer/src/tracer_reuse_module.py
Due: black, isort

docs(logger): match code snippet name with filename
  docs/core/logger.md
  examples/logger/src/append_and_remove_keys_output.json
  examples/logger/src/set_correlation_id_jmespath.json
  examples/logger/src/set_correlation_id_method.json
Due: none

docs(metrics): match code snippet name with filename
  docs/core/metrics.md
Due: none

docs(apigateway): match code snippet name with filename
  docs/core/event_handler/api_gateway.md
Due: none

docs(metrics): fix leftover
  docs/core/metrics.md
Due: none

docs(core): match code snippet name with filename (#1286)
  docs/core/event_handler/api_gateway.md
  docs/core/logger.md
  docs/core/metrics.md
  docs/core/tracer.md
  examples/logger/src/append_and_remove_keys_output.json
  examples/logger/src/set_correlation_id_jmespath.json
  examples/logger/src/set_correlation_id_method.json
  examples/tracer/src/tracer_reuse.py
  examples/tracer/src/tracer_reuse_module.py
Due: black, isort

fix(ci): accept core arg in label related issue workflow
  .github/scripts/label_related_issue.js
Due: none

docs(apigateway): fix sam codeuri template
  examples/event_handler_rest/sam/template.yaml
Due: none

chore(ci): remove end of file pre-commit hook
  .pre-commit-config.yaml
Due: none

docs(appsync): split getting started examples
  docs/core/event_handler/appsync.md
  examples/event_handler_graphql/sam/template.yaml
  examples/event_handler_graphql/src/getting_started_get_todo.json
  examples/event_handler_graphql/src/getting_started_graphql_api_resolver.py
  examples/event_handler_graphql/src/getting_started_list_todos.json
  examples/event_handler_graphql/src/getting_started_schema.graphql
Due: black, isort

docs(appsync): align code snippet name with filename
  docs/core/event_handler/appsync.md
Due: none

docs(appsync): create scalar functions scetion
  docs/core/event_handler/appsync.md
  examples/event_handler_graphql/src/scalar_functions.py
Due: black, isort

docs(appsync): split nested mappings
  docs/core/event_handler/appsync.md
  examples/event_handler_graphql/src/nested_mappings.py
  examples/event_handler_graphql/src/nested_mappings_schema.graphql
Due: black, isort

docs(appsync): improve typing and tracing for getting started snippet
  docs/core/event_handler/appsync.md
  examples/event_handler_graphql/src/getting_started_graphql_api_resolver.py
Due: black, isort

docs(appsync): improve typing and tracing for nested mappings snippet
  docs/core/event_handler/appsync.md
  examples/event_handler_graphql/src/nested_mappings.py
Due: black, isort

docs(appsync): rewrite and split async resolvers
  docs/core/event_handler/appsync.md
  examples/event_handler_graphql/src/async_resolvers.py
Due: black, isort

docs(appsync): note about different schemas
  docs/core/event_handler/appsync.md
Due: none

docs(appsync): recreate and split amplify transformer snippets
  docs/core/event_handler/appsync.md
  examples/event_handler_graphql/src/amplify_graphql_transformer_schema.graphql
  examples/event_handler_graphql/src/async_resolvers.py
  examples/event_handler_graphql/src/getting_started_graphql_api_resolver.py
  examples/event_handler_graphql/src/graphql_transformer_common_field.json
  examples/event_handler_graphql/src/graphql_transformer_find_merchant.json
  examples/event_handler_graphql/src/graphql_transformer_list_locations.json
  examples/event_handler_graphql/src/graphql_transformer_merchant_info.py
  examples/event_handler_graphql/src/graphql_transformer_search_merchant.py
  examples/event_handler_graphql/src/nested_mappings.py
Due: black, isort

docs(appsync): recreate custom models
  docs/core/event_handler/appsync.md
  examples/event_handler_graphql/src/custom_models.py
  examples/event_handler_graphql/src/graphql_transformer_list_locations.json
Due: black, isort

docs(appsync): recreate split operations
  docs/core/event_handler/api_gateway.md
  docs/core/event_handler/appsync.md
  examples/event_handler_graphql/src/split_operation.py
  examples/event_handler_graphql/src/split_operation_module.py
Due: black, isort

docs(appsync): recreate sync assertion test example
  docs/core/event_handler/appsync.md
  examples/event_handler_graphql/src/assert_graphql_response.json
  examples/event_handler_graphql/src/assert_graphql_response.py
  examples/event_handler_graphql/src/assert_graphql_response_module.py
Due: black, isort

docs(appsync): recreate async assertion; add more context
  docs/core/event_handler/appsync.md
  examples/event_handler_graphql/src/assert_async_graphql_response.json
  examples/event_handler_graphql/src/assert_async_graphql_response.py
  examples/event_handler_graphql/src/assert_async_graphql_response_module.py
Due: black, isort

docs(graphql): snippets split, improved, and lint (#1287)
  .pre-commit-config.yaml
  docs/core/event_handler/api_gateway.md
  docs/core/event_handler/appsync.md
  examples/event_handler_graphql/sam/template.yaml
  examples/event_handler_graphql/src/amplify_graphql_transformer_schema.graphql
  examples/event_handler_graphql/src/assert_async_graphql_response.json
  examples/event_handler_graphql/src/assert_async_graphql_response.py
  examples/event_handler_graphql/src/assert_async_graphql_response_module.py
  examples/event_handler_graphql/src/assert_graphql_response.json
  examples/event_handler_graphql/src/assert_graphql_response.py
  examples/event_handler_graphql/src/assert_graphql_response_module.py
  examples/event_handler_graphql/src/async_resolvers.py
  examples/event_handler_graphql/src/custom_models.py
  examples/event_handler_graphql/src/getting_started_get_todo.json
  examples/event_handler_graphql/src/getting_started_graphql_api_resolver.py
  examples/event_handler_graphql/src/getting_started_list_todos.json
  examples/event_handler_graphql/src/getting_started_schema.graphql
  examples/event_handler_graphql/src/graphql_transformer_common_field.json
  examples/event_handler_graphql/src/graphql_transformer_find_merchant.json
  examples/event_handler_graphql/src/graphql_transformer_list_locations.json
  examples/event_handler_graphql/src/graphql_transformer_merchant_info.py
  examples/event_handler_graphql/src/graphql_transformer_search_merchant.py
  examples/event_handler_graphql/src/nested_mappings.py
  examples/event_handler_graphql/src/nested_mappings_schema.graphql
  examples/event_handler_graphql/src/scalar_functions.py
  examples/event_handler_graphql/src/split_operation.py
  examples/event_handler_graphql/src/split_operation_module.py
  examples/event_handler_rest/sam/template.yaml
Due: black, isort

chore(ci): convert inline gh-script to file
  .github/scripts/save_pr_details.js
  .github/workflows/record_pr.yml
Due: none

chore(ci): make export PR reusable
  .github/scripts/download_pr_artifact.js
  .github/scripts/export_pr_details.js
  .github/workflows/export_pr_details.yml
  .github/workflows/label_pr_on_title.yml
  .github/workflows/on_opened_pr.yml
  .github/workflows/reusable_export_pr_details.yml
Due: none

chore(ci): on_merge workflow to workflow_run due to permissions issue
  .github/scripts/label_related_issue.js
  .github/workflows/on_merged_pr.yml
Due: none

chore(governance): update emritus company name; linting
  MAINTAINERS.md
Due: none

fix(ci): correct new job conditionals
  .github/workflows/label_pr_on_title.yml
  .github/workflows/on_opened_pr.yml
Due: none

fix(ci): ensure reusable workflows checkout code regardless
  .github/workflows/record_pr.yml
  .github/workflows/reusable_export_pr_details.yml
Due: none

chore(ci): make export PR reusable
  .github/scripts/download_pr_artifact.js
  .github/scripts/label_missing_related_issue.js
  .github/scripts/label_pr_based_on_title.js
  .github/scripts/label_related_issue.js
  .github/workflows/export_pr_details.yml
  .github/workflows/label_pr_on_title.yml
  .github/workflows/on_merged_pr.yml
  .github/workflows/on_opened_pr.yml
  .github/workflows/record_pr.yml
  .github/workflows/reusable_export_pr_details.yml
Due: none

Refactor asset uploading to use asset manifest
  Makefile
  tests/e2e/utils/helpers.py
  tests/e2e/utils/infrastructure.py
Due: black, isort, flake8

add sns to batch processing
  aws_lambda_powertools/utilities/batch/base.py
  tests/functional/test_utilities_batch.py
Due: black, isort, flake8

fix(ci): move conditionals from yaml to code
  .github/scripts/constants.js
  .github/scripts/label_missing_related_issue.js
  .github/workflows/on_opened_pr.yml
Due: none

chore(ci): move error prone env to code as constants
  .github/scripts/constants.js
  .github/scripts/label_missing_related_issue.js
  .github/scripts/label_pr_based_on_title.js
  .github/scripts/label_related_issue.js
  .github/workflows/on_merged_pr.yml
  .github/workflows/on_opened_pr.yml
Due: none

chore(ci): move all scripts under .github/scripts
  .github/scripts/post_release.js
  .github/workflows/publish.yml
Due: none

chore(governance): remove any step relying on master branch
  .github/mergify.yml
  .github/workflows/python_build.yml
  MAINTAINERS.md
Due: none
