Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: isort
        name: formatting::isort
        entry: poetry run isort
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: flake8
        name: linting::flake8
        entry: poetry run flake8
        language: system
        types: [python]
        exclude: example
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "11c08644ce6df850480d98f628596446a526cbc6" # frozen: v0.31.1
    hooks:
      - id: markdownlint
        args: ["--fix"]

Fix #1852 - Add Capital One support for Lambda Powertools
  docs/media/logos/C1_Core_NG_RGB_R.svg
Due: none

docs(parser): fix highlighted line
  docs/utilities/parser.md
Due: none

docs(parser): update code example to include line number 31 in highlighted lines
  docs/utilities/parser.md
Due: none

docs(parser): fix highlighted line (#2064)
  docs/utilities/parser.md
Due: none

update changelog with latest changes
  CHANGELOG.md
Due: none

docs(idempotency) - fix dynamodb client object
  docs/utilities/idempotency.md
Due: none

docs: correct table name swap; comment out
  docs/utilities/idempotency.md
Due: none

feat: accept and expose dynamodb client
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  tests/functional/idempotency/test_idempotency.py
Due: black, isort, flake8

chore: test sdk client injection; fix persistence init
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  tests/unit/idempotency/__init__.py
  tests/unit/idempotency/test_dynamodb_persistence.py
Due: black, isort, flake8

chore: type dynamodb client
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
Due: black, isort, flake8

fix: DataRecord default values, DDB call arg declaration
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
Due: black, isort, flake8

feat(idempotency): allow custom sdk clients in DynamoDBPersistenceLayer (#2087)
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  tests/functional/idempotency/test_idempotency.py
  tests/unit/idempotency/__init__.py
  tests/unit/idempotency/test_dynamodb_persistence.py
Due: black, isort, flake8

docs: fix mock example; use new public client attr
  docs/utilities/idempotency.md
Due: none

docs: fix wording
  docs/utilities/idempotency.md
Due: none

docs(idempotency): fixes to testing your code section (#2073)
  docs/utilities/idempotency.md
Due: none

feat(parameters) - environment default variables
  aws_lambda_powertools/shared/constants.py
  aws_lambda_powertools/utilities/parameters/ssm.py
  docs/index.md
  docs/utilities/parameters.md
  tests/functional/test_utilities_parameters.py
Due: black, isort, flake8

feat(parameters) - environment default variables - maxage
  aws_lambda_powertools/utilities/parameters/base.py
  docs/index.md
  docs/utilities/parameters.md
Due: black, isort, flake8

refactor: move decorators to its separate file
  aws_lambda_powertools/utilities/batch/__init__.py
  aws_lambda_powertools/utilities/batch/base.py
  aws_lambda_powertools/utilities/batch/decorators.py
Due: black, isort, flake8

feat: add process_partial_response
  aws_lambda_powertools/utilities/batch/__init__.py
  aws_lambda_powertools/utilities/batch/decorators.py
  aws_lambda_powertools/utilities/batch/types.py
  tests/functional/test_utilities_batch.py
Due: black, isort, flake8

docs: add docstring
  aws_lambda_powertools/utilities/batch/decorators.py
Due: black, isort, flake8

chore: fix docstrings
  aws_lambda_powertools/utilities/batch/decorators.py
Due: black, isort, flake8

feat: add async_process_partial_response
  aws_lambda_powertools/utilities/batch/__init__.py
  aws_lambda_powertools/utilities/batch/decorators.py
  tests/functional/test_utilities_batch.py
Due: black, isort, flake8

docs: mypy ignore for fictious sample
  examples/batch_processing/src/getting_started_dynamodb.py
Due: black, isort

docs(end-support) - removing banner and updating information in upgrade guide
  docs/overrides/main.html
  docs/upgrade.md
Due: none

Fix batch processing with pydantic models
  aws_lambda_powertools/utilities/batch/base.py
Due: black, isort, flake8

fix: local unbound, convert and check failed models
  aws_lambda_powertools/utilities/batch/base.py
  tests/functional/test_utilities_batch.py
Due: black, isort, flake8

fix: extend fix to dynamodb and kinesis
  aws_lambda_powertools/utilities/batch/base.py
Due: black, isort, flake8

chore: isolate failed model conversion to keep it clean and documented
  aws_lambda_powertools/utilities/batch/base.py
Due: black, isort, flake8

chore: reference issue in ddb and kinesis
  aws_lambda_powertools/utilities/batch/base.py
Due: black, isort, flake8

chore: tech debt to make json deserialization cleaner
  aws_lambda_powertools/utilities/parser/models/sqs.py
  aws_lambda_powertools/utilities/parser/types.py
Due: black, isort, flake8

chore: test dynamodb partial model poison pill
  tests/functional/test_utilities_batch.py
Due: black, isort, flake8

chore: test kinesis partial model poison pill
  tests/functional/test_utilities_batch.py
Due: black, isort, flake8

Refactor appsync event handler
  aws_lambda_powertools/event_handler/appsync.py
Due: black, isort, flake8

chore: cover async tests
  tests/functional/test_utilities_batch.py
Due: black, isort, flake8

chore: define test models once to ease reading & authoring tests
  tests/functional/batch/__init__.py
  tests/functional/batch/sample_models.py
  tests/functional/test_utilities_batch.py
Due: black, isort, flake8

chore: pay tech debt to ease authoring Json models
  aws_lambda_powertools/utilities/parser/models/dynamodb.py
  aws_lambda_powertools/utilities/parser/models/kinesis.py
Due: black, isort, flake8

chore: pay tech debt to reuse record handlers
  tests/functional/test_utilities_batch.py
Due: black, isort, flake8

docs(homepage): remove banner for end-of-support v1 (#2098)
  docs/overrides/main.html
  docs/upgrade.md
Due: none
