Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: isort
        name: formatting::isort
        entry: poetry run isort
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: flake8
        name: linting::flake8
        entry: poetry run flake8
        language: system
        types: [python]
        exclude: example
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "11c08644ce6df850480d98f628596446a526cbc6" # frozen: v0.31.1
    hooks:
      - id: markdownlint
        args: ["--fix"]

chore: ignore assignment error only in mypy
  examples/parser/src/extending_built_in_models_with_json_mypy.py
Due: black, isort

chore: ignore assignment error only in mypy
  examples/parser/src/extending_built_in_models_with_json_validator.py
Due: black, isort

docs(parser): add JSON string field extension example (#1526)
  docs/utilities/parser.md
  examples/parser/src/extending_built_in_models_with_json_mypy.py
  examples/parser/src/extending_built_in_models_with_json_validator.py
Due: black, isort

update changelog with latest changes
  CHANGELOG.md
Due: none

feat(v2/idempotency): refactoring parallel calls to use map instead submit
  docs/upgrade.md
  tests/e2e/idempotency/test_idempotency_dynamodb.py
  tests/e2e/utils/functions.py
Due: black, isort, flake8

chore(docs): added more details to upgrade guide
  docs/upgrade.md
Due: none

feat(idempotency): support methods with the same name (ABCs) by including fully qualified name in v2 (#1535)
  aws_lambda_powertools/utilities/idempotency/base.py
  docs/upgrade.md
  docs/utilities/idempotency.md
  tests/e2e/idempotency/__init__.py
  tests/e2e/idempotency/conftest.py
  tests/e2e/idempotency/handlers/parallel_execution_handler.py
  tests/e2e/idempotency/handlers/ttl_cache_expiration_handler.py
  tests/e2e/idempotency/handlers/ttl_cache_timeout_handler.py
  tests/e2e/idempotency/infrastructure.py
  tests/e2e/idempotency/test_idempotency_dynamodb.py
  tests/e2e/utils/data_fetcher/__init__.py
  tests/e2e/utils/data_fetcher/idempotency.py
  tests/e2e/utils/functions.py
  tests/functional/idempotency/conftest.py
  tests/functional/idempotency/test_idempotency.py
  tests/functional/idempotency/utils.py
Due: black, isort, flake8

fix(typing): fix mypy error
  examples/parser/src/extending_built_in_models_with_json_mypy.py
Due: black, isort

add KinesisFirehoseEvent data class
  aws_lambda_powertools/utilities/data_classes/__init__.py
  aws_lambda_powertools/utilities/data_classes/kinesis_firehose_event.py
Due: black, isort, flake8

update docs for KinesisFirehoseEvent
  docs/utilities/data_classes.md
Due: none

fixup mypy
  aws_lambda_powertools/utilities/data_classes/kinesis_firehose_event.py
Due: black, isort, flake8

add tests for KinesisFirehoseEvent
  tests/events/kinesisFirehoseEvent.json
  tests/functional/test_data_classes.py
Due: black, isort, flake8

mypy fixes
  aws_lambda_powertools/utilities/data_classes/kinesis_firehose_event.py
  docs/utilities/data_classes.md
Due: black, isort, flake8

fix(docs): move firehose sample to examples
  docs/utilities/data_classes.md
  examples/event_sources/src/kinesis_firehose_delivery_stream.py
  tests/functional/test_data_classes.py
Due: black, isort, flake8

feat(logger): Conditional JSON indentation for AWS SAM Local
  aws_lambda_powertools/logging/formatter.py
  docs/core/logger.md
  tests/functional/test_logger_powertools_formatter.py
Due: black, isort, flake8

chore(docs): output the Layer ARN to a artifact
  .github/workflows/reusable_deploy_layer_stack.yml
  docs/plugins/lambda_layer_version.py
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: black, isort, flake8

Apply suggestions from code review
  aws_lambda_powertools/utilities/data_classes/common.py
  aws_lambda_powertools/utilities/data_classes/dynamo_db_stream_event.py
  tests/functional/test_data_classes.py
Due: black, isort, flake8

fix(event_sources): implement Mapping protocol on DictWrapper for better interop with existing middlewares (#1516)
  aws_lambda_powertools/utilities/data_classes/common.py
  aws_lambda_powertools/utilities/data_classes/dynamo_db_stream_event.py
  tests/functional/test_data_classes.py
Due: black, isort, flake8

feat(v2/appconfigdata): refactoring new api calls
  aws_lambda_powertools/utilities/parameters/appconfig.py
  aws_lambda_powertools/utilities/parameters/base.py
  poetry.lock
  pyproject.toml
Due: black, isort, flake8

feat(logger): Conditional JSON indentation on POWERTOOLS_DEV
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/shared/constants.py
  docs/core/logger.md
  tests/functional/test_logger_powertools_formatter.py
Due: black, isort, flake8

chore(layers): add dummy v2 layer automation
  .github/workflows/publish_v2_layer.yml
Due: none

feat(v2/appconfigdata): refactoring new api calls
  aws_lambda_powertools/utilities/parameters/appconfig.py
  docs/upgrade.md
  tests/e2e/parameters/__init__.py
  tests/e2e/parameters/conftest.py
  tests/e2e/parameters/handlers/parameter_string_handler.py
  tests/e2e/parameters/infrastructure.py
  tests/e2e/parameters/test_parameter.py
  tests/functional/test_utilities_parameters.py
Due: black, isort, flake8

Feature request: Kinesis Data Firehose event envelope and parser model
  aws_lambda_powertools/shared/functions.py
  aws_lambda_powertools/utilities/parser/envelopes/__init__.py
  aws_lambda_powertools/utilities/parser/envelopes/kinesis_firehose.py
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/kinesis.py
  aws_lambda_powertools/utilities/parser/models/kinesis_firehose.py
  docs/utilities/parser.md
  examples/parser/src/extending_built_in_models_with_json_mypy.py
  tests/events/kinesisFirehoseEvent.json
  tests/functional/parser/schemas.py
  tests/functional/parser/test_kinesis firehose.py
Due: black, isort, flake8

fix(apigateway): honour docstrings and set content_type/body to be optional
  aws_lambda_powertools/event_handler/api_gateway.py
Due: black, isort, flake8

chore(apigateway): add test to ensure status_code is the only required
  tests/functional/event_handler/test_api_gateway.py
Due: black, isort, flake8

feat(batch): pass lambda_context if record handler signature accepts it
  aws_lambda_powertools/utilities/batch/base.py
  tests/functional/test_utilities_batch.py
Due: black, isort, flake8

feat(batch): optimize logic for perf and to support customers using context manager
  aws_lambda_powertools/utilities/batch/base.py
  tests/functional/test_utilities_batch.py
Due: black, isort, flake8

Update aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/logging/formatter.py
Due: black, isort, flake8

Update aws_lambda_powertools/shared/constants.py
  aws_lambda_powertools/shared/constants.py
Due: black, isort, flake8

Update tests/functional/test_logger_powertools_formatter.py
  tests/functional/test_logger_powertools_formatter.py
Due: black, isort, flake8

fix(apigateway): update Response class to require status_code only (#1560)
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/test_api_gateway.py
Due: black, isort, flake8

Tests counting newlines only
  aws_lambda_powertools/logging/formatter.py
  tests/functional/test_logger_powertools_formatter.py
Due: black, isort, flake8

feat(v2/appconfigdata): adding more e2e tests
  tests/e2e/parameters/handlers/parameter_appconfig_freeform_handler.py
  tests/e2e/parameters/handlers/parameter_string_handler.py
  tests/e2e/parameters/infrastructure.py
  tests/e2e/parameters/test_parameter.py
Due: black, isort, flake8

chore(parameters): refactoring examples
  docs/utilities/parameters.md
  examples/parameters/src/getting_started_appconfig.py
  examples/parameters/src/getting_started_recursive_ssm_parameter.py
  examples/parameters/src/getting_started_secret.py
  examples/parameters/src/getting_started_single_ssm_parameter.py
Due: black, isort

chore(parameters): adding cache examples
  docs/utilities/parameters.md
  examples/parameters/src/appconfig_with_cache.py
  examples/parameters/src/recursive_ssm_parameter_with_cache.py
  examples/parameters/src/secret_with_cache.py
  examples/parameters/src/single_ssm_parameter_with_cache.py
Due: black, isort

chore(parameters): adding builtin examples and fix mypy errors
  docs/utilities/parameters.md
  examples/parameters/src/appconfig_force_fetch.py
  examples/parameters/src/appconfig_with_cache.py
  examples/parameters/src/builtin_provider_ssm_recursive_parameter.py
  examples/parameters/src/builtin_provider_ssm_single_parameter.py
  examples/parameters/src/builtin_provider_ssm_with_decrypt.py
  examples/parameters/src/builtin_provider_ssm_with_no_recursive.py
  examples/parameters/src/getting_started_appconfig.py
  examples/parameters/src/getting_started_secret.py
  examples/parameters/src/recursive_ssm_parameter_force_fetch.py
  examples/parameters/src/recursive_ssm_parameter_with_cache.py
  examples/parameters/src/secret_force_fetch.py
  examples/parameters/src/secret_with_cache.py
  examples/parameters/src/single_ssm_parameter_force_fetch.py
  examples/parameters/src/single_ssm_parameter_with_cache.py
Due: black, isort

chore(parameters): adding all providers with custom config
  docs/utilities/parameters.md
  examples/parameters/src/custom_boto3_all_providers.py
Due: black, isort

chore(parameters): adding custom provider
  docs/utilities/parameters.md
  examples/parameters/src/custom_provider_s3.py
  examples/parameters/src/custom_provider_vault.py
  examples/parameters/src/working_with_own_provider_s3.py
  examples/parameters/src/working_with_own_provider_vault.py
  mypy.ini
  poetry.lock
  pyproject.toml
Due: black, isort
