Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: isort
        name: formatting::isort
        entry: poetry run isort
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: flake8
        name: linting::flake8
        entry: poetry run flake8
        language: system
        types: [python]
        exclude: example
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "11c08644ce6df850480d98f628596446a526cbc6" # frozen: v0.31.1
    hooks:
      - id: markdownlint
        args: ["--fix"]

chore: remove build leftover
  examples/tracer/sam/.aws-sam/build.toml
Due: none

docs(tracer): split annotations and metadata snippet
  docs/core/tracer.md
  examples/tracer/src/put_trace_annotations.py
  examples/tracer/src/put_trace_metadata.py
Due: black, isort

docs(tracer): split synchronous fn snippet
  docs/core/tracer.md
  examples/tracer/src/capture_method.py
Due: black, isort

docs(tracer): split async, ctx manager, and generator
  docs/core/tracer.md
  examples/tracer/src/capture_method_async.py
  examples/tracer/src/capture_method_context_manager.py
  examples/tracer/src/capture_method_generators.py
Due: black, isort

docs(tracer): split patch_modules
  docs/core/tracer.md
  examples/tracer/src/patch_modules.py
Due: black, isort

docs(tracer): split disable capture response
  docs/core/tracer.md
  examples/tracer/src/disable_capture_response.py
  examples/tracer/src/disable_capture_response_streaming_body.py
Due: black, isort

docs(tracer): fix highlighting after linting
  docs/core/tracer.md
Due: none

docs(tracer): snippet capture error
  docs/core/tracer.md
  examples/tracer/src/disable_capture_error.py
Due: black, isort

docs(tracer): snippet ignore endpoints
  docs/core/tracer.md
  examples/tracer/src/ignore_endpoints.py
Due: black, isort

docs(tracer): snippet aiohttp
  docs/core/tracer.md
  examples/tracer/src/tracing_aiohttp.py
Due: black, isort

docs(tracer): snippet escape hatch
  docs/core/tracer.md
  examples/tracer/src/sdk_escape_hatch.py
Due: black, isort

docs(tracer): snippet async concurrency
  docs/core/tracer.md
  examples/tracer/src/capture_method_async_concurrency.py
Due: black, isort

Move end to end subsection to its own section under mantainer responsibilities
  MAINTAINERS.md
Due: none

docs(tracer): snippet tracer reuse
  docs/core/tracer.md
  examples/tracer/src/tracer_reuse.py
  examples/tracer/src/tracer_reuse_payment.py
Due: black, isort

fix(ci): merged_pr add issues write access
  .github/workflows/on_merged_pr.yml
Due: none

docs(tracer): snippets split, improved, and lint (#1261)
  .gitignore
  docs/core/tracer.md
  examples/tracer/sam/template.yaml
  examples/tracer/src/capture_method.py
  examples/tracer/src/capture_method_async.py
  examples/tracer/src/capture_method_async_concurrency.py
  examples/tracer/src/capture_method_context_manager.py
  examples/tracer/src/capture_method_generators.py
  examples/tracer/src/disable_capture_error.py
  examples/tracer/src/disable_capture_response.py
  examples/tracer/src/disable_capture_response_streaming_body.py
  examples/tracer/src/ignore_endpoints.py
  examples/tracer/src/patch_modules.py
  examples/tracer/src/put_trace_annotations.py
  examples/tracer/src/put_trace_metadata.py
  examples/tracer/src/sdk_escape_hatch.py
  examples/tracer/src/tracer_reuse.py
  examples/tracer/src/tracer_reuse_payment.py
  examples/tracer/src/tracing_aiohttp.py
Due: black, isort

Remove unnecessary f-string from logger key modification
  tests/e2e/logger/handlers/basic_handler.py
Due: black, isort, flake8

fix(ci): disable merged_pr workflow
  .github/workflows/on_merged_pr.yml
Due: none

docs(tracer): leftover from SAM
  docs/core/tracer.md
  examples/tracer/template.yaml
Due: none

docs(logger): split inject context
  docs/core/logger.md
  examples/logger/sam/template.yaml
  examples/logger/src/inject_lambda_context.py
  examples/logger/src/inject_lambda_context_output.json
Due: black, isort

docs(logger): split getting started examples, logger reuse
  docs/core/logger.md
  examples/logger/src/append_keys.py
  examples/logger/src/append_keys_extra.py
  examples/logger/src/append_keys_extra_output.json
  examples/logger/src/append_keys_output.json
  examples/logger/src/clear_state.py
  examples/logger/src/clear_state_event_one.json
  examples/logger/src/clear_state_event_two.json
  examples/logger/src/inject_lambda_context_output.json
  examples/logger/src/log_incoming_event.py
  examples/logger/src/logger_reuse.py
  examples/logger/src/logger_reuse_output.json
  examples/logger/src/logger_reuse_payment.py
  examples/logger/src/logging_exceptions.py
  examples/logger/src/logging_exceptions_output.json
  examples/logger/src/remove_keys.py
  examples/logger/src/remove_keys_output.json
  examples/logger/src/set_correlation_id.py
  examples/logger/src/set_correlation_id_event.json
  examples/logger/src/set_correlation_id_jmespath.py
  examples/logger/src/set_correlation_id_jmespath_event.json
  examples/logger/src/set_correlation_id_jmespath_output.json
  examples/logger/src/set_correlation_id_method.py
  examples/logger/src/set_correlation_id_method_event.json
  examples/logger/src/set_correlation_id_method_output.json
  examples/logger/src/set_correlation_id_output.json
Due: black, isort

docs(logger): split sampling logs
  docs/core/logger.md
  examples/logger/src/sampling_debug_logs.py
  examples/logger/src/sampling_debug_logs_output.json
Due: black, isort

docs(logger): split powertools formatter
  docs/core/logger.md
  examples/logger/src/powertools_formatter_setup.py
Due: black, isort

docs(logger): split logging inheritance
  docs/core/logger.md
  examples/logger/src/logging_inheritance_bad.py
  examples/logger/src/logging_inheritance_good.py
  examples/logger/src/logging_inheritance_module.py
Due: black, isort

docs(logger): improve logging inheritance wording
  docs/core/logger.md
Due: none

docs(logger): improve split log records override
  docs/core/logger.md
  docs/core/overriding_log_records_output.json
  examples/logger/src/overriding_log_records.py
Due: black, isort

docs(logger): split log overriding and ordering
  docs/core/logger.md
  examples/logger/src/overriding_log_records_output.json
  examples/logger/src/reordering_log_keys.py
  examples/logger/src/reordering_log_keys_output.json
Due: black, isort

docs(logger): split setting UTC
  docs/core/logger.md
  examples/logger/src/setting_utc_timestamp.py
  examples/logger/src/setting_utc_timestamp_output.json
Due: black, isort

docs(logger): split unserializable values
  docs/core/logger.md
  examples/logger/src/unserializable_values.py
  examples/logger/src/unserializable_values_output.json
Due: black, isort

docs(logger): split byo handler
  docs/core/logger.md
  examples/logger/src/bring_your_own_handler.py
Due: black, isort

docs(logger): split byo formatter from scratch
  docs/core/logger.md
  examples/logger/src/bring_your_own_formatter.py
  examples/logger/src/bring_your_own_formatter_from_scratch.py
  examples/logger/src/bring_your_own_formatter_from_scratch_output.json
  examples/logger/src/bring_your_own_formatter_output.json
Due: black, isort

docs(logger): split byo json serializer
  docs/core/logger.md
  examples/logger/src/bring_your_own_json_serializer.py
Due: black, isort

docs(logger): split append_keys vs extra
  docs/core/logger.md
  examples/logger/src/append_keys_vs_extra.py
  examples/logger/src/append_keys_vs_extra_output.json
  examples/logger/src/cloning_logger_config.py
  examples/logger/src/enabling_boto_logging.py
  examples/logger/src/fake_lambda_context_for_logger.py
  examples/logger/src/fake_lambda_context_for_logger_module.py
Due: black, isort

docs(logger): ease readability
  docs/core/logger.md
Due: none

feat(logger): future proof reserved fmt keys
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/logging/logger.py
  tests/functional/test_logger.py
Due: black, isort, flake8

chore(ci): deactivate on_merged_pr workflow
  .github/disabled_on_merged_pr.yml
Due: none

Decouple infra creation step from lambda triggering
  tests/e2e/conftest.py
  tests/e2e/logger/handlers/no_context_handler.py
  tests/e2e/logger/test_logger.py
  tests/e2e/metrics/test_metrics.py
  tests/e2e/tracer/test_tracer.py
  tests/e2e/utils/helpers.py
Due: black, isort, flake8

Implement strategy pattern to generalise infrastructure deployment
  tests/e2e/conftest.py
  tests/e2e/logger/test_logger.py
  tests/e2e/tracer/test_tracer.py
  tests/e2e/utils/infrastructure.py
Due: black, isort, flake8

docs(tracer): fix highlighting leftover in async
  docs/core/tracer.md
Due: none
