Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

black:
  name: formatting::black
  entry: poetry run black
  language: system

isort:
  name: formatting::isort
  entry: poetry run isort
  language: system

flake8:
  name: linting::flake8
  entry: poetry run flake8
  language: system

fix: flaky X-Ray trace retrieval now with minimal traces opt
  tests/e2e/tracer/test_tracer.py
  tests/e2e/utils/data_fetcher/traces.py
Due: black, isort, flake8

chore: break up last helper for lambda invocation
  tests/e2e/conftest.py
  tests/e2e/metrics/test_metrics.py
  tests/e2e/tracer/test_tracer.py
  tests/e2e/utils/data_fetcher/__init__.py
  tests/e2e/utils/data_fetcher/common.py
Due: black, isort, flake8

chore: move asset models into asset module
  tests/e2e/utils/asset.py
  tests/e2e/utils/models.py
Due: black, isort, flake8

chore: make examples tip consistent with other docs
  docs/utilities/validation.md
Due: none

chore: update dependency version comment
  .github/workflows/release-drafter.yml
Due: none

fix: correct eventbridge payload
  examples/validation/src/getting_started_validator_unwraping_function.py
  examples/validation/src/getting_started_validator_unwraping_payload.json
  examples/validation/src/getting_started_validator_unwraping_schema.py
Due: black, isort

fix: name typo and highlight
  docs/utilities/validation.md
  examples/validation/src/getting_started_validator_unwrapping_function.py
  examples/validation/src/getting_started_validator_unwrapping_payload.json
  examples/validation/src/getting_started_validator_unwrapping_schema.py
Due: black, isort

chore: remove EventBridge built-in envelope from earlier example
  docs/utilities/validation.md
  examples/validation/src/getting_started_validator_unwrapping_function.py
Due: black, isort

fix: old typo
  docs/utilities/validation.md
Due: none

chore: improve old wording
  docs/utilities/validation.md
Due: none

fix: event data access, highlight
  docs/utilities/validation.md
  examples/validation/src/unwrapping_popular_event_source_function.py
Due: black, isort

fix: snippet name and highlight
  docs/utilities/validation.md
  examples/validation/src/custom_format_function.py
  examples/validation/src/custom_format_payload.json
  examples/validation/src/custom_format_schema.py
Due: black, isort

fix: highlight SchemaValidationError
  docs/utilities/validation.md
Due: none

docs(validation): Refactoring insecure example
  docs/utilities/validation.md
  examples/validation/src/getting_started_validator_decorator_function.py
  examples/validation/src/getting_started_validator_decorator_payload.json
  examples/validation/src/getting_started_validator_decorator_schema.py
Due: black, isort

fix: navigation and old wording
  docs/utilities/middleware_factory.md
Due: none

chore: address everyone's feedback
  tests/e2e/metrics/conftest.py
  tests/e2e/tracer/conftest.py
  tests/e2e/tracer/handlers/sync_async_capture.py
  tests/e2e/tracer/infrastructure.py
  tests/e2e/utils/data_builder/metrics.py
  tests/e2e/utils/data_fetcher/metrics.py
  tests/e2e/utils/infrastructure.py
Due: black, isort, flake8

chore: address import feedback lint
  .flake8
  tests/e2e/utils/data_builder/__init__.py
  tests/e2e/utils/data_fetcher/__init__.py
Due: black, isort, flake8

chore: fix new feedback set
  tests/e2e/conftest.py
  tests/e2e/utils/asset.py
  tests/e2e/utils/data_fetcher/metrics.py
  tests/e2e/utils/data_fetcher/traces.py
Due: black, isort, flake8

chore: remove trace_ids attr left over
  tests/e2e/utils/data_fetcher/traces.py
Due: black, isort, flake8

chore: move trace builders to the correct location
  tests/e2e/utils/data_builder/__init__.py
  tests/e2e/utils/data_builder/metrics.py
  tests/e2e/utils/data_builder/traces.py
Due: black, isort, flake8

docs(validation): Refactoring validate example
  docs/utilities/validation.md
  examples/validation/src/getting_started_validator_standalone_function.py
  examples/validation/src/getting_started_validator_standalone_payload.json
  examples/validation/src/getting_started_validator_standalone_schema.py
Due: black, isort

feat(parser): add support for Lambda Function URL (#1442)
  aws_lambda_powertools/utilities/parser/envelopes/__init__.py
  aws_lambda_powertools/utilities/parser/envelopes/lambda_function_url.py
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/apigwv2.py
  aws_lambda_powertools/utilities/parser/models/lambda_function_url.py
  docs/utilities/parser.md
  tests/functional/parser/schemas.py
  tests/functional/parser/test_lambda_function_url.py
Due: black, isort, flake8

update changelog with latest changes
  CHANGELOG.md
Due: none

feat: use generator for memory efficient recursion
  tests/e2e/utils/data_fetcher/traces.py
Due: black, isort, flake8

feat: split sync and async; test for nest fetching
  tests/e2e/tracer/handlers/async_capture.py
  tests/e2e/tracer/handlers/sync_async_capture.py
  tests/e2e/tracer/test_tracer.py
Due: black, isort, flake8

chore(tests): refactor E2E tracer to ease maintenance, writing tests and parallelization (#1457)
  .flake8
  tests/e2e/conftest.py
  tests/e2e/logger/test_logger.py
  tests/e2e/metrics/test_metrics.py
  tests/e2e/tracer/conftest.py
  tests/e2e/tracer/handlers/async_capture.py
  tests/e2e/tracer/infrastructure.py
  tests/e2e/tracer/test_tracer.py
  tests/e2e/utils/asset.py
  tests/e2e/utils/data_builder/__init__.py
  tests/e2e/utils/data_builder/common.py
  tests/e2e/utils/data_builder/metrics.py
  tests/e2e/utils/data_builder/traces.py
  tests/e2e/utils/data_fetcher/__init__.py
  tests/e2e/utils/data_fetcher/common.py
  tests/e2e/utils/data_fetcher/logs.py
  tests/e2e/utils/data_fetcher/metrics.py
  tests/e2e/utils/data_fetcher/traces.py
  tests/e2e/utils/helpers.py
  tests/e2e/utils/infrastructure.py
  tests/e2e/utils/models.py
Due: black, isort, flake8

docs(validation): small things
  docs/utilities/validation.md
  examples/validation/src/getting_started_validator_unwrapping_function.py
  examples/validation/src/unwrapping_popular_event_source_function.py
Due: black, isort

docs(validation): small things
  docs/utilities/validation.md
Due: none

chore: cleanup get_metrics output
  tests/e2e/metrics/test_metrics.py
  tests/e2e/utils/data_fetcher/metrics.py
Due: black, isort, flake8

feat: move logger to new infrastructure
  tests/e2e/logger/conftest.py
  tests/e2e/logger/handlers/no_context_handler.py
  tests/e2e/logger/infrastructure.py
  tests/e2e/logger/test_logger.py
Due: black, isort, flake8

fix(docs): typo
  examples/validation/src/getting_started_validator_decorator_function.py
Due: black, isort

docs(validation): snippets split, improved, and lint (#1449)
  docs/utilities/jmespath_functions.md
  docs/utilities/validation.md
  examples/validation/src/custom_format_function.py
  examples/validation/src/custom_format_payload.json
  examples/validation/src/custom_format_schema.py
  examples/validation/src/getting_started_validator_decorator_function.py
  examples/validation/src/getting_started_validator_decorator_payload.json
  examples/validation/src/getting_started_validator_decorator_schema.py
  examples/validation/src/getting_started_validator_standalone_function.py
  examples/validation/src/getting_started_validator_standalone_payload.json
  examples/validation/src/getting_started_validator_standalone_schema.py
  examples/validation/src/getting_started_validator_unwrapping_function.py
  examples/validation/src/getting_started_validator_unwrapping_payload.json
  examples/validation/src/getting_started_validator_unwrapping_schema.py
  examples/validation/src/unwrapping_popular_event_source_function.py
  examples/validation/src/unwrapping_popular_event_source_payload.json
  examples/validation/src/unwrapping_popular_event_source_schema.py
Due: black, isort

feat: get_logs to accept datetime for consistency
  tests/e2e/logger/test_logger.py
  tests/e2e/utils/data_fetcher/logs.py
Due: black, isort, flake8

feat: make log_client optional and fix client type
  poetry.lock
  pyproject.toml
  tests/e2e/logger/test_logger.py
  tests/e2e/utils/data_fetcher/logs.py
Due: black, isort, flake8

chore: remove lru cache
  tests/e2e/utils/data_fetcher/logs.py
Due: black, isort, flake8

feat: accept filter_expression to reduce wanted logs
  tests/e2e/utils/data_fetcher/logs.py
Due: black, isort, flake8

refactor: use function_name for consistency
  tests/e2e/logger/test_logger.py
  tests/e2e/utils/data_fetcher/logs.py
Due: black, isort, flake8

fix: accept extra logging keys instead of dropping
  tests/e2e/utils/data_fetcher/logs.py
Due: black, isort, flake8

refactor: make logger e2e dynamic
  tests/e2e/logger/handlers/basic_handler.py
  tests/e2e/logger/infrastructure.py
  tests/e2e/logger/test_logger.py
Due: black, isort, flake8

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$, but not: example
