Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

black:
  name: formatting::black
  entry: poetry run black
  language: system

isort:
  name: formatting::isort
  entry: poetry run isort
  language: system

flake8:
  name: linting::flake8
  entry: poetry run flake8
  language: system

chore(ci): update changelog with latest changes
  CHANGELOG.md
Due: none

docs(validation): Refactoring examples - fix classes
  examples/validation/src/getting_started_validator_decorator_function.py
Due: black, isort

docs(validation): Refactoring examples - custom format
  docs/utilities/validation.md
  examples/validation/src/getting_started_custom_format_function.py
  examples/validation/src/getting_started_custom_format_payload.json
  examples/validation/src/getting_started_custom_format_schema.py
  examples/validation/src/getting_started_validator_decorator_function.py
Due: black, isort

docs(validation): Refactoring examples - custom format
  examples/validation/src/getting_started_custom_format_function.py
Due: black, isort

chore: add type to worker_id
  tests/e2e/metrics/conftest.py
Due: black, isort, flake8

chore: increase delay and jitter on get_metrics
  tests/e2e/utils/helpers.py
Due: black, isort, flake8

chore: rename cfn_template to asset_manifest to fix misunderstanding
  tests/e2e/utils/asset.py
  tests/e2e/utils/infrastructure.py
Due: black, isort, flake8

chore: abstract parallelization deployment logic
  tests/e2e/metrics/conftest.py
  tests/e2e/utils/infrastructure.py
Due: black, isort, flake8

update changelog with latest changes
  CHANGELOG.md
Due: none

docs(apigateway): removes duplicate admonition (#1426)
  docs/core/event_handler/api_gateway.md
Due: none

docs(parser): minor grammar fix (#1427)
  docs/utilities/parser.md
Due: none

fix(jmespath_util): snappy as dev dep and typing example (#1446)
  aws_lambda_powertools/utilities/data_classes/lambda_function_url_event.py
  examples/jmespath_functions/src/powertools_json_idempotency_jmespath.py
  mypy.ini
  poetry.lock
  pyproject.toml
Due: black, isort, flake8

chore(tests): refactor E2E test mechanics to ease maintenance, writing tests and parallelization (#1444)
  poetry.lock
  pyproject.toml
  tests/e2e/metrics/conftest.py
  tests/e2e/metrics/handlers/basic_handler.py
  tests/e2e/metrics/handlers/cold_start.py
  tests/e2e/metrics/infrastructure.py
  tests/e2e/metrics/test_metrics.py
  tests/e2e/utils/asset.py
  tests/e2e/utils/helpers.py
  tests/e2e/utils/infrastructure.py
  tests/e2e/utils/models.py
Due: black, isort, flake8

chore(ci): remove area/utilities conflicting label
  .github/boring-cyborg.yml
Due: none

chore(ci): remove conventional changelog commit to reduce noise
  .github/workflows/reusable_publish_changelog.yml
Due: none

fix(ci): del flake8 direct dep over py3.6 conflicts and docs failure
  poetry.lock
  pyproject.toml
Due: none

docs(middleware-factory): Refactoring examples - before logic
  docs/utilities/middleware_factory.md
  examples/middleware_factory/src/getting_started_middleware_before_logic_function.py
  examples/middleware_factory/src/getting_started_middleware_before_logic_payload.json
Due: black, isort

docs(validation): Fixing typing
  examples/validation/src/getting_started_custom_format_function.py
  examples/validation/src/getting_started_validator_decorator_function.py
  examples/validation/src/getting_started_validator_standalone_function.py
  examples/validation/src/getting_started_validator_unwraping_function.py
  examples/validation/src/unwrapping_popular_event_source_function.py
Due: black, isort

docs(middleware-factory): Refactoring examples - after logic
  docs/utilities/middleware_factory.md
  examples/middleware_factory/src/getting_started_middleware_after_logic_function.py
  examples/middleware_factory/src/getting_started_middleware_after_logic_payload.json
Due: black, isort

docs(middleware-factory): Refactoring examples - params example
  docs/utilities/middleware_factory.md
  examples/middleware_factory/src/getting_started_middleware_with_params_function.py
  examples/middleware_factory/src/getting_started_middleware_with_params_payload.json
Due: black, isort

docs(middleware-factory): Refactoring examples - advanced tracer
  docs/media/middleware_factory_tracer_1.png
  docs/media/middleware_factory_tracer_2.png
  docs/utilities/middleware_factory.md
  examples/middleware_factory/src/advanced_middleware_tracer_function.py
  examples/middleware_factory/src/advanced_middleware_tracer_payload.json
  examples/middleware_factory/src/getting_started_middleware_tracer_function.py
  examples/middleware_factory/src/getting_started_middleware_tracer_payload.json
Due: black, isort

docs(middleware-factory): Refactoring examples - fix typing
  examples/middleware_factory/src/advanced_middleware_tracer_function.py
  examples/middleware_factory/src/getting_started_middleware_with_params_function.py
Due: black, isort

feat(tracer): use new infrastructure
  tests/e2e/tracer/conftest.py
  tests/e2e/tracer/handlers/basic_handler.py
  tests/e2e/tracer/infrastructure.py
  tests/e2e/tracer/test_tracer.py
  tests/e2e/utils/helpers.py
Due: black, isort, flake8

feat: include POWERTOOLS_SERVICE_NAME env var
  tests/e2e/tracer/infrastructure.py
Due: black, isort, flake8

feat: refactor tests and get_traces
  tests/e2e/tracer/handlers/basic_handler.py
  tests/e2e/tracer/test_tracer.py
  tests/e2e/utils/data_fetcher/__init__.py
  tests/e2e/utils/data_fetcher/traces.py
  tests/e2e/utils/helpers.py
Due: black, isort, flake8

chore: leftover docstring and return type
  tests/e2e/utils/helpers.py
Due: black, isort, flake8

feat: test sync and async capture
  tests/e2e/tracer/handlers/sync_async_capture.py
  tests/e2e/tracer/test_tracer.py
Due: black, isort, flake8

Update parser.md
  docs/utilities/parser.md
Due: none

feat: Add Parser official support for Lambda Function UR
  aws_lambda_powertools/utilities/parser/envelopes/__init__.py
  aws_lambda_powertools/utilities/parser/envelopes/lambda_function_url.py
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/apigwv2.py
  aws_lambda_powertools/utilities/parser/models/lambda_function_url.py
  tests/functional/parser/schemas.py
  tests/functional/parser/test_lambda_function_url.py
Due: black, isort, flake8

chore: leftover model
  tests/e2e/utils/helpers.py
Due: black, isort, flake8

Update aws_lambda_powertools/utilities/parser/envelopes/lambda_function_url.py
  aws_lambda_powertools/utilities/parser/envelopes/lambda_function_url.py
Due: black, isort, flake8

Update docs/utilities/parser.md
  docs/utilities/parser.md
Due: none

chore: break up helpers into builders and fetchers
  tests/e2e/logger/test_logger.py
  tests/e2e/metrics/test_metrics.py
  tests/e2e/tracer/infrastructure.py
  tests/e2e/tracer/test_tracer.py
  tests/e2e/utils/data_builder/__init__.py
  tests/e2e/utils/data_builder/common.py
  tests/e2e/utils/data_builder/metrics.py
  tests/e2e/utils/data_builder/traces.py
  tests/e2e/utils/data_fetcher/__init__.py
  tests/e2e/utils/data_fetcher/logs.py
  tests/e2e/utils/data_fetcher/metrics.py
  tests/e2e/utils/helpers.py
Due: black, isort, flake8

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$, but not: example
