Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: isort
        name: formatting::isort
        entry: poetry run isort
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: flake8
        name: linting::flake8
        entry: poetry run flake8
        language: system
        types: [python]
        exclude: example
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "11c08644ce6df850480d98f628596446a526cbc6" # frozen: v0.31.1
    hooks:
      - id: markdownlint
        args: ["--fix"]

chore(idempotency): make existing tests pass with expire_in_progress
  tests/functional/idempotency/conftest.py
  tests/functional/idempotency/test_idempotency.py
  tests/functional/idempotency/utils.py
Due: black, isort, flake8

chore(idempotency): add tests for expires_in_progress
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  tests/functional/idempotency/conftest.py
  tests/functional/idempotency/test_idempotency.py
  tests/functional/idempotency/utils.py
Due: black, isort, flake8

chore(idempotency): make mypy happy
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
Due: black, isort, flake8

chore(idempotency): refactored expire in-progress logic
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
Due: black, isort, flake8

feat(idempotency): add option to expire inprogress invocations
  aws_lambda_powertools/utilities/idempotency/base.py
  aws_lambda_powertools/utilities/idempotency/config.py
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  tests/functional/idempotency/conftest.py
  tests/functional/idempotency/utils.py
Due: black, isort, flake8

chore(idempotency): add tests
  tests/functional/idempotency/conftest.py
  tests/functional/idempotency/test_idempotency.py
  tests/functional/idempotency/utils.py
Due: black, isort, flake8

chore(idempotency): remove unused fixtures in tests
  tests/functional/idempotency/test_idempotency.py
Due: black, isort, flake8

chores(documentation): update sample code for `expires_in_progress`
  docs/utilities/idempotency.md
Due: none

chore(documentation): replace idempotency diagrams with mermaid.js
  docs/media/idempotent_sequence.png
  docs/media/idempotent_sequence_exception.png
  docs/utilities/idempotency.md
  tests/functional/event_handler/test_api_gateway.py
Due: black, isort, flake8

chore(idempotency): remove param `expires_in_progress`
  aws_lambda_powertools/utilities/idempotency/base.py
  aws_lambda_powertools/utilities/idempotency/config.py
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  docs/utilities/idempotency.md
  tests/functional/idempotency/conftest.py
  tests/functional/idempotency/test_idempotency.py
  tests/functional/idempotency/utils.py
Due: black, isort, flake8

chore(idempotency): remove more of the old code
  aws_lambda_powertools/utilities/idempotency/base.py
  docs/utilities/idempotency.md
  tests/functional/idempotency/conftest.py
  tests/functional/idempotency/test_idempotency.py
Due: black, isort, flake8

chore(docs): remove bad comment
  tests/functional/idempotency/test_idempotency.py
Due: black, isort, flake8

feat(idempotench): add mechanism to register lambda context
  aws_lambda_powertools/utilities/idempotency/base.py
  aws_lambda_powertools/utilities/idempotency/config.py
  docs/utilities/idempotency.md
Due: black, isort, flake8

fix(idempotency): typo
  aws_lambda_powertools/utilities/idempotency/base.py
  aws_lambda_powertools/utilities/idempotency/config.py
Due: black, isort, flake8

fix import for Response class
  aws_lambda_powertools/event_handler/__init__.py
Due: black, isort, flake8

fix missing comma
  aws_lambda_powertools/event_handler/__init__.py
Due: black, isort, flake8

fix(event_handlers): ImportError when importing Response from top-level event_handler (#1388)
  aws_lambda_powertools/event_handler/__init__.py
Due: black, isort, flake8

chore(ci): remove leftover logic from on_merged_pr workflow
  .github/scripts/label_related_issue.js
Due: none

chore(mypy): fix redef _
  examples/event_handler_graphql/src/scalar_functions.py
Due: black, isort

fix(tracer): correct ctx manager and default provider type
  aws_lambda_powertools/tracing/base.py
  aws_lambda_powertools/tracing/tracer.py
Due: black, isort, flake8

chore(mypy): add requests type def as dev dep
  poetry.lock
  pyproject.toml
Due: none

chore(mypy): ignore lack of botocore types
  mypy.ini
Due: none

chore(mypy): ignore lack of orjson types
  mypy.ini
Due: none

chore(example): fix constructor default
  examples/logger/src/bring_your_own_formatter_from_scratch.py
Due: black, isort

chore(mypy): ignore sentinel value assignment; needs issue
  examples/event_handler_rest/src/split_route_module.py
  examples/event_handler_rest/src/split_route_prefix_module.py
Due: black, isort

docs(examples): fix incorrect type response and Response class
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/exception_handling.py
Due: black, isort

chore(maintainers): add Ruben as a maintainer
  MAINTAINERS.md
Due: none

chore(mypy): fix potential none operator
  examples/event_handler_rest/src/binary_responses.py
Due: black, isort

chore(maintainers): add Ruben as a maintainer (#1392)
  MAINTAINERS.md
Due: none

chore(mypy): fix return type on graphql merchant
  examples/event_handler_graphql/src/graphql_transformer_search_merchant.py
Due: black, isort

chore(mypy): fix missing return
  examples/event_handler_graphql/src/graphql_transformer_merchant_info.py
Due: black, isort

chore(mypy): ignore sentinel type, missing return
  examples/event_handler_graphql/src/custom_models.py
  examples/event_handler_rest/src/split_route_module.py
  examples/event_handler_rest/src/split_route_prefix_module.py
Due: black, isort

chore(mypy): ignore present attr defined in custom model; note for tech debt
  aws_lambda_powertools/event_handler/appsync.py
  examples/event_handler_graphql/src/custom_models.py
Due: black, isort, flake8

chore(mypy): fix import and type annotation on async graphql
  examples/event_handler_graphql/src/assert_async_graphql_response.py
Due: black, isort

chore(mypy): fix coroutine response not being ready to subscribe
  examples/event_handler_graphql/src/assert_async_graphql_response_module.py
Due: black, isort

chore(ci): ensure mypy runs on examples
  Makefile
Due: none

chore(mypy): address leftovers
  aws_lambda_powertools/tracing/base.py
  mypy.ini
Due: black, isort, flake8

chore(mypy): use backward compatible List annotation
  docs/core/event_handler/appsync.md
  examples/event_handler_graphql/src/assert_async_graphql_response.py
  examples/event_handler_graphql/src/assert_async_graphql_response_module.py
  examples/event_handler_graphql/src/async_resolvers.py
  examples/event_handler_graphql/src/getting_started_graphql_api_resolver.py
Due: black, isort

chore(mypy): use backward compatible List annotation
  docs/core/event_handler/appsync.md
  examples/event_handler_graphql/src/assert_async_graphql_response.py
  examples/event_handler_graphql/src/assert_async_graphql_response_module.py
  examples/event_handler_graphql/src/assert_graphql_response_module.py
  examples/event_handler_graphql/src/async_resolvers.py
  examples/event_handler_graphql/src/custom_models.py
  examples/event_handler_graphql/src/getting_started_graphql_api_resolver.py
  examples/event_handler_graphql/src/graphql_transformer_merchant_info.py
  examples/event_handler_graphql/src/graphql_transformer_search_merchant.py
  examples/event_handler_graphql/src/nested_mappings.py
  examples/event_handler_graphql/src/split_operation_module.py
Due: black, isort

chore(mypy): add typing_extensions, 3.6 3.7 compatible changes
  examples/event_handler_graphql/src/assert_async_graphql_response_module.py
  examples/event_handler_graphql/src/assert_graphql_response_module.py
  examples/event_handler_graphql/src/async_resolvers.py
  examples/event_handler_graphql/src/custom_models.py
  examples/event_handler_graphql/src/getting_started_graphql_api_resolver.py
  examples/event_handler_graphql/src/graphql_transformer_merchant_info.py
  examples/event_handler_graphql/src/graphql_transformer_search_merchant.py
  examples/event_handler_graphql/src/nested_mappings.py
  examples/event_handler_graphql/src/split_operation_module.py
  poetry.lock
  pyproject.toml
Due: black, isort
