Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: isort
        name: formatting::isort
        entry: poetry run isort
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: flake8
        name: linting::flake8
        entry: poetry run flake8
        language: system
        types: [python]
        exclude: example
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "11c08644ce6df850480d98f628596446a526cbc6" # frozen: v0.31.1
    hooks:
      - id: markdownlint
        args: ["--fix"]

chore: add httpx dev dependency for batch docs; update deps
  poetry.lock
  pyproject.toml
Due: none

feat(redis/idempotency): adding base class
  aws_lambda_powertools/utilities/connections/__init__.py
  aws_lambda_powertools/utilities/connections/base_sync.py
  aws_lambda_powertools/utilities/connections/exceptions.py
  aws_lambda_powertools/utilities/connections/redis.py
  aws_lambda_powertools/utilities/database/__init__.py
  aws_lambda_powertools/utilities/idempotency/persistence/redis.py
Due: black, isort, flake8

Rename e2e tests
  tests/e2e/idempotency/handlers/function_thread_safety_handler.py
  tests/e2e/idempotency/infrastructure.py
  tests/e2e/idempotency/test_idempotency_dynamodb.py
  tests/functional/idempotency/test_idempotency.py
Due: black, isort, flake8

feat(redis/idempotency): adding logic to get record
  aws_lambda_powertools/utilities/connections/redis.py
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  aws_lambda_powertools/utilities/idempotency/persistence/redis.py
Due: black, isort, flake8

feat(redis/idempotency): adding expiry timeout
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  aws_lambda_powertools/utilities/idempotency/persistence/redis.py
Due: black, isort, flake8

fix(idempotency): updating documentation
  docs/utilities/idempotency.md
Due: none

Revert breaking change from PR #1846
  aws_lambda_powertools/utilities/feature_flags/schema.py
Due: black, isort, flake8

maintenance(pypi): updating pyproject.toml
  pyproject.toml
Due: none

maintenance(pypi): updating pyproject.toml - fix
  pyproject.toml
Due: none

feat(metrics) - Adding high resolution metrics
  aws_lambda_powertools/metrics/__init__.py
  aws_lambda_powertools/metrics/base.py
  aws_lambda_powertools/metrics/exceptions.py
  aws_lambda_powertools/metrics/metrics.py
  tests/e2e/metrics/test_metrics.py
Due: black, isort, flake8

feat(metrics) - Adding high resolution metrics - tests
  tests/functional/test_metrics.py
Due: black, isort, flake8

feat(metrics) - Adding high resolution metrics - docs
  docs/core/metrics.md
  examples/metrics/src/add_high_resolution_metric.py
Due: black, isort

feat(metrics) - Adding high resolution metrics - docs
  aws_lambda_powertools/metrics/base.py
Due: black, isort, flake8

feat(metrics) - Adding high resolution metrics - fix mypy errors
  aws_lambda_powertools/metrics/base.py
Due: black, isort, flake8

feat(metrics) - Adding high resolution metrics - revert e2e wrong changes
  tests/e2e/metrics/test_metrics.py
Due: black, isort, flake8

chore(pypi): add new links to Pypi package homepage (#1912)
  pyproject.toml
Due: none

fix(idempotency): make idempotent_function decorator thread safe (#1899)
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/logging/utils.py
  aws_lambda_powertools/utilities/feature_flags/schema.py
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  docs/utilities/idempotency.md
  mypy.ini
  tests/e2e/idempotency/handlers/function_thread_safety_handler.py
  tests/e2e/idempotency/handlers/parallel_execution_handler.py
  tests/e2e/idempotency/handlers/ttl_cache_expiration_handler.py
  tests/e2e/idempotency/handlers/ttl_cache_timeout_handler.py
  tests/e2e/idempotency/infrastructure.py
  tests/e2e/idempotency/test_idempotency_dynamodb.py
  tests/e2e/parameters/infrastructure.py
  tests/functional/feature_flags/test_feature_flags.py
  tests/functional/idempotency/conftest.py
  tests/functional/idempotency/test_idempotency.py
  tests/functional/idempotency/utils.py
Due: black, isort, flake8

update changelog with latest changes
  CHANGELOG.md
Due: none

Use new poetry subcommand to add `dev` deps
  docs/index.md
Due: none

feat(metrics) - Addressing Heito's feedbacks
  aws_lambda_powertools/metrics/base.py
  aws_lambda_powertools/metrics/types.py
  docs/core/metrics.md
  tests/functional/test_metrics.py
Due: black, isort, flake8

fix poetry.lock to merge
  poetry.lock
Due: none

feat(batch): add async_batch_processor for concurrent processing (#1724)
  aws_lambda_powertools/utilities/batch/__init__.py
  aws_lambda_powertools/utilities/batch/base.py
  docs/utilities/batch.md
  examples/batch_processing/src/getting_started_async_batch_processor.py
  poetry.lock
  pyproject.toml
  tests/functional/test_utilities_batch.py
Due: black, isort, flake8

chore: cover additional logic branches on resolution
  aws_lambda_powertools/metrics/base.py
  tests/functional/test_metrics.py
Due: black, isort, flake8

chore: cleanup test name for consistency
  tests/functional/test_metrics.py
Due: black, isort, flake8

fix: make resolution error actionable
  aws_lambda_powertools/metrics/base.py
  tests/functional/test_metrics.py
Due: black, isort, flake8

fix: raise resolution error for all invalid options
  aws_lambda_powertools/metrics/base.py
  tests/functional/test_metrics.py
Due: black, isort, flake8

feat(metrics) - add support for high resolution metrics (#1915)
  aws_lambda_powertools/metrics/__init__.py
  aws_lambda_powertools/metrics/base.py
  aws_lambda_powertools/metrics/exceptions.py
  aws_lambda_powertools/metrics/metrics.py
  aws_lambda_powertools/metrics/types.py
  docs/core/metrics.md
  examples/metrics/src/add_high_resolution_metric.py
  tests/functional/test_metrics.py
Due: black, isort, flake8

docs(homepage): fix double quotes
  docs/index.md
Due: none

docs(metrics): fix syntax highlighting for new default_dimensions
  docs/core/metrics.md
Due: none

docs(homepage): Replace poetry command to add group parameter (#1917)
  docs/index.md
Due: none

docs(metrics): remove reduntant wording before release
  docs/core/metrics.md
Due: none

docs(engine): re-enable clipboard button for code snippets
  mkdocs.yml
Due: none

bump version to 2.8.0
  pyproject.toml
Due: none

chore: update v2 layer ARN on documentation
  docs/index.md
Due: none

fix(feature-flags): revert RuleAction Enum inheritance on str (#1910)
  aws_lambda_powertools/utilities/feature_flags/schema.py
Due: black, isort, flake8
