Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: isort
        name: formatting::isort
        entry: poetry run isort
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: flake8
        name: linting::flake8
        entry: poetry run flake8
        language: system
        types: [python]
        exclude: example
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "11c08644ce6df850480d98f628596446a526cbc6" # frozen: v0.31.1
    hooks:
      - id: markdownlint
        args: ["--fix"]

readme review
  layer/README.md
  layer/source.bat
Due: none

rephrase canary stack ssm parameter usage
  .github/workflows/publish_layer.yml
  layer/README.md
  layer/layer/canary/app.py
Due: black, isort, flake8

add default RELEASE_TAG_VERSION assignment based on the input (release or manual trigger)
  .github/workflows/publish_layer.yml
Due: none

add reference to layer docs
  layer/README.md
Due: none

wording
  layer/README.md
Due: none

move version trackign arn to canary stack
  layer/app.py
  layer/layer/canary_stack.py
Due: black, isort, flake8

remove outdated npm caching, add release tag resolution for manual workflow trigger
  .github/workflows/publish_layer.yml
Due: none

review: fix layer name and remove dependencies from reusable workflow
  .github/workflows/delploy_cdk_stack.yml
Due: none

remove debug statement, add default working dir
  .github/workflows/delploy_cdk_stack.yml
  .github/workflows/publish_layer.yml
Due: none

pin versions and hashes for requirements with pip-compile
  layer/requirements.txt
Due: none

docs: split getting started examples
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/sam/template.yaml
  examples/event_handler_rest/src/dynamic_routes.json
  examples/event_handler_rest/src/dynamic_routes.py
  examples/event_handler_rest/src/dynamic_routes_catch_all.json
  examples/event_handler_rest/src/dynamic_routes_catch_all.py
  examples/event_handler_rest/src/getting_started_alb_api_resolver.py
  examples/event_handler_rest/src/getting_started_http_api_resolver.py
  examples/event_handler_rest/src/getting_started_rest_api_resolver.json
  examples/event_handler_rest/src/getting_started_rest_api_resolver.py
  examples/event_handler_rest/src/getting_started_rest_api_resolver_output.json
  examples/event_handler_rest/src/http_methods.json
  examples/event_handler_rest/src/http_methods.py
  examples/event_handler_rest/src/http_methods_multiple.py
Due: black, isort

docs: split query string example
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/accessing_request_details.py
Due: black, isort

docs: split headers example
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/accessing_request_details_headers.py
Due: black, isort

docs: split exception handling, not found example
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/exception_handling.py
  examples/event_handler_rest/src/not_found_routes.py
Due: black, isort

docs: split raising http errors example
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/raising_http_errors.py
Due: black, isort

docs: split api mapping example
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/custom_api_mapping.json
  examples/event_handler_rest/src/custom_api_mapping.py
Due: black, isort

Update MAINTAINERS.md
  MAINTAINERS.md
Due: none

Update tests/e2e/utils/infrastructure.py
  tests/e2e/utils/infrastructure.py
Due: black, isort, flake8

rename reusable workflow
  .github/workflows/publish_layer.yml
  .github/workflows/reusable_deploy_layer_stack.yml
Due: none

pass artefact name to the reusable workflow to prevent potential future conflicts
  .github/workflows/publish_layer.yml
  .github/workflows/reusable_deploy_layer_stack.yml
Due: none

chore(layers): add release pipeline in GitHub Actions (#1278)
  .github/workflows/publish_layer.yml
  .github/workflows/reusable_deploy_layer_stack.yml
  layer/.gitignore
  layer/README.md
  layer/app.py
  layer/cdk.json
  layer/layer/__init__.py
  layer/layer/canary/app.py
  layer/layer/canary_stack.py
  layer/layer/layer_stack.py
  layer/requirements-dev.txt
  layer/requirements.txt
Due: black, isort, flake8

fix: typo in input for layer workflow
  .github/workflows/publish_layer.yml
  .github/workflows/reusable_deploy_layer_stack.yml
Due: none

fix: no need to cache npm since we only install cdk cli and don't have .lock files
  .github/workflows/publish_layer.yml
  .github/workflows/reusable_deploy_layer_stack.yml
Due: none

fix: add entire ARN role instead of account and role name
  .github/workflows/publish_layer.yml
  .github/workflows/reusable_deploy_layer_stack.yml
Due: none

docs: split cors example
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/setting_cors.py
  examples/event_handler_rest/src/setting_cors_output.json
Due: black, isort

docs: split fine grained responses example
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/fine_grained_responses.py
  examples/event_handler_rest/src/fine_grained_responses_output.json
Due: black, isort

docs: split compressing example
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/compressing_responses.json
  examples/event_handler_rest/src/compressing_responses.py
  examples/event_handler_rest/src/compressing_responses_output.json
Due: black, isort

docs: binary response example
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/binary_responses.json
  examples/event_handler_rest/src/binary_responses.py
  examples/event_handler_rest/src/binary_responses_logo.svg
  examples/event_handler_rest/src/binary_responses_output.json
Due: black, isort

docs: debug mode example
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/debug_mode.py
Due: black, isort

fix: path to artefact
  .github/workflows/publish_layer.yml
Due: none

docs: custom serializer example
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/custom_serializer.py
Due: black, isort

docs: split route example
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/split_route.py
  examples/event_handler_rest/src/split_route_module.py
Due: black, isort

fix: unzip the right artifact name
  .github/workflows/reusable_deploy_layer_stack.yml
Due: none

docs: split route prefix example
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/split_route_prefix.py
  examples/event_handler_rest/src/split_route_prefix_module.py
Due: black, isort

docs: split testing example
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/assert_http_response.py
  examples/event_handler_rest/src/assert_http_response_module.py
Due: black, isort

docs: highlight examples being readily available
  docs/core/event_handler/api_gateway.md
  docs/core/logger.md
  docs/core/metrics.md
  docs/core/tracer.md
Due: none

docs: fix highlight lefovers
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/not_found_routes.py
Due: black, isort
