Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

black:
  name: formatting::black
  entry: poetry run black
  language: system

isort:
  name: formatting::isort
  entry: poetry run isort
  language: system

flake8:
  name: linting::flake8
  entry: poetry run flake8
  language: system

chore(batch): deprecate sqs_batch_processor
  aws_lambda_powertools/utilities/batch/sqs.py
  docs/overrides/main.html
Due: black, isort, flake8

refactor: create LogFetcher to simply assertion
  aws_lambda_powertools/shared/constants.py
  tests/e2e/logger/test_logger.py
  tests/e2e/utils/data_fetcher/logs.py
Due: black, isort, flake8

feat: test cold start
  tests/e2e/logger/test_logger.py
  tests/e2e/utils/data_fetcher/logs.py
Due: black, isort, flake8

chore: document LogFetcher
  tests/e2e/utils/data_fetcher/logs.py
Due: black, isort, flake8

fix(docs): wording
  aws_lambda_powertools/utilities/batch/sqs.py
Due: black, isort, flake8

chore(tests): refactor E2E logger to ease maintenance, writing tests and parallelization (#1460)
  aws_lambda_powertools/shared/constants.py
  poetry.lock
  pyproject.toml
  tests/e2e/logger/conftest.py
  tests/e2e/logger/handlers/basic_handler.py
  tests/e2e/logger/handlers/no_context_handler.py
  tests/e2e/logger/infrastructure.py
  tests/e2e/logger/test_logger.py
  tests/e2e/metrics/test_metrics.py
  tests/e2e/utils/data_fetcher/logs.py
  tests/e2e/utils/data_fetcher/metrics.py
Due: black, isort, flake8

docs(batch): change message placement
  docs/overrides/main.html
  docs/utilities/batch.md
  mkdocs.yml
Due: none

chore: initial trial for lambda layer
  tests/e2e/conftest.py
  tests/e2e/infrastructure.py
  tests/e2e/utils/infrastructure.py
Due: black, isort, flake8

chore: root fixture fixed but docker still fails
  tests/e2e/conftest.py
  tests/e2e/utils/infrastructure.py
Due: black, isort, flake8

Update docs/overrides/main.html
  docs/overrides/main.html
Due: none

chore(batch): deprecate sqs_batch_processor (#1463)
  aws_lambda_powertools/utilities/batch/sqs.py
  docs/overrides/main.html
  docs/utilities/batch.md
  mkdocs.yml
Due: black, isort, flake8

update changelog with latest changes
  CHANGELOG.md
Due: none

fix: layer asset bundling, and asset recursion logic
  tests/e2e/utils/Dockerfile
  tests/e2e/utils/asset.py
  tests/e2e/utils/infrastructure.py
Due: black, isort, flake8

docs(middleware-factory): Refactoring examples - combining utilities
  docs/utilities/middleware_factory.md
  examples/middleware_factory/sam/combining_powertools_utilities_template.yaml
  examples/middleware_factory/src/combining_powertools_utilities_event.json
  examples/middleware_factory/src/combining_powertools_utilities_function.py
  examples/middleware_factory/src/combining_powertools_utilities_schema.py
Due: black, isort

docs(middleware-factory): Refactoring examples - combining utilities
  docs/utilities/middleware_factory.md
Due: none

feat: build lambda layer once and expose via clsmethod
  tests/e2e/utils/infrastructure.py
Due: black, isort, flake8

docs(middleware-factory): Refactoring examples - combining utilities - highlights
  docs/utilities/middleware_factory.md
Due: none

fix: layer stack per process/session as it can't be built once
  tests/e2e/conftest.py
  tests/e2e/utils/infrastructure.py
Due: black, isort, flake8

docs(typing): Refactoring examples - typing
  docs/media/utilities_typing.png
  docs/media/utilities_typing_1.png
  docs/media/utilities_typing_2.png
  docs/media/utilities_typing_3.png
  docs/utilities/typing.md
  examples/typing/src/getting_started_typing_function.py
  examples/typing/src/working_with_context_function.py
Due: black, isort

feat: single layer, parallel stacks before cleanup
  tests/e2e/conftest.py
  tests/e2e/logger/conftest.py
  tests/e2e/logger/infrastructure.py
  tests/e2e/metrics/conftest.py
  tests/e2e/metrics/infrastructure.py
  tests/e2e/tracer/conftest.py
  tests/e2e/tracer/infrastructure.py
  tests/e2e/utils/infrastructure.py
Due: black, isort, flake8

docs(middleware-factory): Refactoring examples - minor changes
  docs/utilities/middleware_factory.md
  examples/middleware_factory/sam/combining_powertools_utilities_template.yaml
  examples/middleware_factory/src/getting_started_middleware_before_logic_function.py
  examples/middleware_factory/src/getting_started_middleware_with_params_function.py
Due: black, isort

docs(typing): Refactoring examples - wording
  docs/utilities/typing.md
Due: none

feat: simplify access to lambda layer arn
  tests/e2e/conftest.py
  tests/e2e/logger/conftest.py
  tests/e2e/metrics/conftest.py
  tests/e2e/tracer/conftest.py
  tests/e2e/utils/infrastructure.py
Due: black, isort, flake8

chore: increase parallelization to per test
  Makefile
Due: none

chore: cleanup leftover code; add debug
  tests/e2e/infrastructure.py
  tests/e2e/logger/infrastructure.py
  tests/e2e/metrics/infrastructure.py
  tests/e2e/tracer/infrastructure.py
  tests/e2e/utils/asset.py
  tests/e2e/utils/infrastructure.py
  tests/utils.py
Due: black, isort, flake8

chore: var names cleanup
  tests/e2e/utils/infrastructure.py
Due: black, isort, flake8

feat: include extra dependencies to test parser etc.
  tests/e2e/utils/infrastructure.py
Due: black, isort, flake8

fix: layer arn cdk id name must be unique
  tests/e2e/utils/infrastructure.py
Due: black, isort, flake8

chore: rename baseinfrav2 to baseinfra
  tests/e2e/logger/infrastructure.py
  tests/e2e/metrics/infrastructure.py
  tests/e2e/tracer/infrastructure.py
  tests/e2e/utils/infrastructure.py
Due: black, isort, flake8

chore: future proof type deps to 3.7 only
  poetry.lock
  pyproject.toml
Due: none

chore(tests): build and deploy Lambda Layer stack once (#1466)
  Makefile
  poetry.lock
  pyproject.toml
  tests/e2e/conftest.py
  tests/e2e/logger/conftest.py
  tests/e2e/logger/infrastructure.py
  tests/e2e/metrics/conftest.py
  tests/e2e/metrics/infrastructure.py
  tests/e2e/tracer/conftest.py
  tests/e2e/tracer/infrastructure.py
  tests/e2e/utils/Dockerfile
  tests/e2e/utils/asset.py
  tests/e2e/utils/infrastructure.py
  tests/utils.py
Due: black, isort, flake8

chore: add filelock dev dep for all versions
  poetry.lock
  pyproject.toml
Due: none

chore(ci): enable e2e on push and dispatch
  .github/workflows/run-e2e-tests.yml
Due: none

chore(maintainer): add Leandro as maintainer
  MAINTAINERS.md
Due: none

chore(maintainer): add Leandro as maintainer (#1468)
  MAINTAINERS.md
Due: none

docs(contributing): add toc and definition for tests
  CONTRIBUTING.md
Due: none

docs(contributing): set expectation that we don't yet have the best guidance
  CONTRIBUTING.md
Due: none

chore(lint): remove incorrect ABC to address new flake finding
  aws_lambda_powertools/event_handler/appsync.py
Due: black, isort, flake8

docs(maintainers): update wording on e2e test
  MAINTAINERS.md
Due: none

docs(maintainers): add details about structure and workflow
  MAINTAINERS.md
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$, but not: example
