Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

black:
  name: formatting::black
  entry: poetry run black
  language: system

isort:
  name: formatting::isort
  entry: poetry run isort
  language: system

flake8:
  name: linting::flake8
  entry: poetry run flake8
  language: system

chore(bandit): update baseline
  bandit.baseline
Due: none

update changelog with latest changes
  CHANGELOG.md
Due: none

Fix typing on bootstrap_servers result
  aws_lambda_powertools/utilities/data_classes/kafka_event.py
Due: black, isort, flake8

Fix typing, mypy runs locally now
  aws_lambda_powertools/utilities/data_classes/kafka_event.py
Due: black, isort, flake8

chore(batch): remove legacy sqs_batch_processor
  aws_lambda_powertools/utilities/batch/__init__.py
  aws_lambda_powertools/utilities/batch/base.py
  aws_lambda_powertools/utilities/batch/exceptions.py
  aws_lambda_powertools/utilities/batch/sqs.py
  docs/utilities/batch.md
  tests/functional/test_utilities_batch.py
  tests/unit/test_utilities_batch.py
Due: black, isort, flake8

chore(docs): update migration guide
  docs/upgrade.md
Due: none

chore(maintenance): add discord link to first PR and first issue messages
  .github/boring-cyborg.yml
Due: none

refactor(batch): remove legacy sqs_batch_processor (#1492)
  aws_lambda_powertools/utilities/batch/__init__.py
  aws_lambda_powertools/utilities/batch/base.py
  aws_lambda_powertools/utilities/batch/exceptions.py
  aws_lambda_powertools/utilities/batch/sqs.py
  docs/upgrade.md
  docs/utilities/batch.md
  tests/functional/test_utilities_batch.py
  tests/unit/test_utilities_batch.py
Due: black, isort, flake8

chore(maintenance): add discord link to first PR and first issue (#1493)
  .github/boring-cyborg.yml
Due: none

feat(event_handler): improved support for headers and cookies in v2 (#1455)
  aws_lambda_powertools/event_handler/api_gateway.py
Due: black, isort, flake8

feat(event_handler): add Cookies first class citizen
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/cookies.py
  aws_lambda_powertools/shared/headers_serializer.py
  tests/e2e/event_handler/handlers/alb_handler.py
  tests/e2e/event_handler/handlers/lambda_function_url_handler.py
  tests/e2e/event_handler/test_header_serializer.py
Due: black, isort, flake8

chore(cookies): format date
  aws_lambda_powertools/shared/cookies.py
Due: black, isort, flake8

chore(event_handler): move cookies to shared (cicular dependency)
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/shared/cookies.py
  aws_lambda_powertools/shared/headers_serializer.py
  tests/e2e/event_handler/test_header_serializer.py
Due: black, isort, flake8

chore(event_handler): renamed method
  aws_lambda_powertools/shared/cookies.py
Due: black, isort, flake8

chore(tests): add e2e tests for the new cookies
  aws_lambda_powertools/shared/cookies.py
  tests/e2e/event_handler/handlers/alb_handler.py
  tests/e2e/event_handler/handlers/api_gateway_http_handler.py
  tests/e2e/event_handler/handlers/api_gateway_rest_handler.py
  tests/e2e/event_handler/handlers/lambda_function_url_handler.py
  tests/e2e/event_handler/infrastructure.py
  tests/e2e/event_handler/test_header_serializer.py
Due: black, isort, flake8

chore(docs): updated docs
  docs/core/event_handler/api_gateway.md
  docs/upgrade.md
  examples/event_handler_rest/src/fine_grained_responses.py
  examples/event_handler_rest/src/fine_grained_responses_output.json
  tests/functional/event_handler/test_api_gateway.py
  tests/functional/event_handler/test_lambda_function_url.py
Due: black, isort, flake8

chore: add sample timestamp for cookie RFC
  aws_lambda_powertools/shared/cookies.py
Due: black, isort, flake8

docs: secure attr is the default now
  examples/event_handler_rest/src/fine_grained_responses.py
Due: black, isort

chore(event_handler): fix order of parameters
  aws_lambda_powertools/shared/cookies.py
Due: black, isort, flake8

feat(event_handler): add cookies as 1st class citizen in v2 (#1487)
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/shared/cookies.py
  aws_lambda_powertools/shared/headers_serializer.py
  docs/core/event_handler/api_gateway.md
  docs/upgrade.md
  examples/event_handler_rest/src/fine_grained_responses.py
  examples/event_handler_rest/src/fine_grained_responses_output.json
  tests/e2e/event_handler/handlers/alb_handler.py
  tests/e2e/event_handler/handlers/api_gateway_http_handler.py
  tests/e2e/event_handler/handlers/api_gateway_rest_handler.py
  tests/e2e/event_handler/handlers/lambda_function_url_handler.py
  tests/e2e/event_handler/infrastructure.py
  tests/e2e/event_handler/test_header_serializer.py
  tests/functional/event_handler/test_api_gateway.py
  tests/functional/event_handler/test_lambda_function_url.py
Due: black, isort, flake8

feature: Kafka Parser support
  .github/scripts/label_related_issue.js
  CHANGELOG.md
  aws_lambda_powertools/utilities/parser/envelopes/__init__.py
  aws_lambda_powertools/utilities/parser/envelopes/kafka.py
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/kafka.py
  docs/utilities/parser.md
  tests/events/kafkaEvent.json
  tests/functional/parser/schemas.py
  tests/functional/parser/test_kafka.py
Due: black, isort, flake8

feature: Kafka Parser support
  aws_lambda_powertools/utilities/parser/envelopes/kafka.py
Due: black, isort, flake8

address PR feedback
  aws_lambda_powertools/utilities/data_classes/kafka_event.py
Due: black, isort, flake8

change kafkaEvent from self-managed to MSK
  tests/events/kafkaEvent.json
Due: none

adjust tests to use MSK event
  tests/functional/test_data_classes.py
Due: black, isort, flake8

split bootstrap_servers into decoded_bootstrap_servers
  aws_lambda_powertools/utilities/data_classes/kafka_event.py
Due: black, isort, flake8

Update tests to use decode_bootstrap_servers
  tests/functional/test_data_classes.py
Due: black, isort, flake8

feat(data-classes): adding more tests to kafka events
  tests/events/kafkaEventMsk.json
  tests/events/kafkaEventSelfManaged.json
  tests/functional/test_data_classes.py
Due: black, isort, flake8

feat(data-classes): add KafkaEvent and KafkaEventRecord (#1485)
  aws_lambda_powertools/utilities/data_classes/__init__.py
  aws_lambda_powertools/utilities/data_classes/kafka_event.py
  docs/utilities/data_classes.md
  tests/events/kafkaEventMsk.json
  tests/events/kafkaEventSelfManaged.json
  tests/functional/test_data_classes.py
Due: black, isort, flake8

cr fixes
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/kafka.py
  docs/utilities/parser.md
  tests/functional/parser/test_kafka.py
Due: black, isort, flake8

feat(capture_method): fixing poetry.lock dependency
  poetry.lock
Due: none

docs fix
  docs/core/event_handler/api_gateway.md
Due: none

feat(capture_method): addressing PR feedback
  aws_lambda_powertools/tracing/tracer.py
  tests/e2e/tracer/handlers/same_function_name.py
  tests/e2e/tracer/test_tracer.py
  tests/unit/test_tracing.py
Due: black, isort, flake8

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$, but not: example
