Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

black:
  name: formatting::black
  entry: poetry run black
  language: system

isort:
  name: formatting::isort
  entry: poetry run isort
  language: system

flake8:
  name: linting::flake8
  entry: poetry run flake8
  language: system

update changelog with latest changes
  CHANGELOG.md
Due: none

docs(parameters): remove premature backlog commitment
  docs/utilities/feature_flags.md
Due: none

chore: make resource naming traceable
  tests/e2e/parameters/infrastructure.py
Due: black, isort, flake8

docs fix
  docs/utilities/data_classes.md
Due: none

optionals update
  aws_lambda_powertools/utilities/data_classes/kinesis_firehose_event.py
  tests/events/kinesisFirehoseEvent.json
Due: black, isort, flake8

test updates
  tests/events/kinesisFirehoseKinesisEvent.json
  tests/functional/test_data_classes.py
Due: black, isort, flake8

rm tests
  tests/events/kinesisFirehoseKinesisEvent.json
  tests/functional/test_data_classes.py
Due: black, isort, flake8

formatting nit
  tests/events/kinesisFirehosePutEvent.json
Due: none

firehose kinesis + put test updates
  tests/functional/test_data_classes.py
Due: black, isort, flake8

feat(event_handler): improved support for headers and cookies in v2 (#1455)
  .gitignore
  aws_lambda_powertools/__init__.py
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/shared/headers_serializer.py
  aws_lambda_powertools/utilities/data_classes/alb_event.py
  aws_lambda_powertools/utilities/data_classes/api_gateway_proxy_event.py
  aws_lambda_powertools/utilities/data_classes/common.py
  docs/core/event_handler/api_gateway.md
  docs/upgrade.md
  examples/event_handler_rest/src/binary_responses_output.json
  examples/event_handler_rest/src/compressing_responses_output.json
  examples/event_handler_rest/src/fine_grained_responses.py
  examples/event_handler_rest/src/fine_grained_responses_output.json
  examples/event_handler_rest/src/getting_started_rest_api_resolver_output.json
  examples/event_handler_rest/src/setting_cors_output.json
  mkdocs.yml
  poetry.lock
  pyproject.toml
  tests/e2e/event_handler/__init__.py
  tests/e2e/event_handler/conftest.py
  tests/e2e/event_handler/handlers/alb_handler.py
  tests/e2e/event_handler/handlers/api_gateway_http_handler.py
  tests/e2e/event_handler/handlers/api_gateway_rest_handler.py
  tests/e2e/event_handler/handlers/lambda_function_url_handler.py
  tests/e2e/event_handler/infrastructure.py
  tests/e2e/event_handler/test_header_serializer.py
  tests/e2e/utils/data_fetcher/__init__.py
  tests/e2e/utils/data_fetcher/common.py
  tests/e2e/utils/infrastructure.py
  tests/events/albMultiValueHeadersEvent.json
  tests/functional/event_handler/test_api_gateway.py
  tests/functional/event_handler/test_lambda_function_url.py
  tests/functional/test_headers_serializer.py
Due: black, isort, flake8

docs(homepage): note about v2 version
  docs/index.md
Due: none

refactor(batch): remove legacy sqs_batch_processor (#1492)
  aws_lambda_powertools/utilities/batch/__init__.py
  aws_lambda_powertools/utilities/batch/base.py
  aws_lambda_powertools/utilities/batch/exceptions.py
  aws_lambda_powertools/utilities/batch/sqs.py
  docs/upgrade.md
  docs/utilities/batch.md
  tests/functional/test_utilities_batch.py
  tests/unit/test_utilities_batch.py
Due: black, isort, flake8

feat(event_handler): add cookies as 1st class citizen in v2 (#1487)
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/shared/cookies.py
  aws_lambda_powertools/shared/headers_serializer.py
  docs/upgrade.md
  examples/event_handler_rest/src/fine_grained_responses.py
  examples/event_handler_rest/src/fine_grained_responses_output.json
  tests/e2e/event_handler/handlers/alb_handler.py
  tests/e2e/event_handler/handlers/api_gateway_http_handler.py
  tests/e2e/event_handler/handlers/api_gateway_rest_handler.py
  tests/e2e/event_handler/handlers/lambda_function_url_handler.py
  tests/e2e/event_handler/infrastructure.py
  tests/e2e/event_handler/test_header_serializer.py
  tests/functional/event_handler/test_api_gateway.py
  tests/functional/event_handler/test_lambda_function_url.py
Due: black, isort, flake8

chore(core): expose modules in the Top-level package (#1517)
  aws_lambda_powertools/__init__.py
Due: black, isort, flake8

feat(tracer): support methods with the same name (ABCs) by including fully qualified name in v2 (#1486)
  aws_lambda_powertools/tracing/tracer.py
  docs/media/tracer_utility_showcase.png
  tests/e2e/tracer/handlers/same_function_name.py
  tests/e2e/tracer/test_tracer.py
  tests/unit/test_tracing.py
Due: black, isort, flake8

chore(ci): migrate E2E tests to CDK CLI and off Docker (#1501)
  .github/workflows/run-e2e-tests.yml
  .gitignore
  MAINTAINERS.md
  aws_lambda_powertools/tracing/tracer.py
  package-lock.json
  package.json
  parallel_run_e2e.py
  poetry.lock
  pyproject.toml
  tests/e2e/conftest.py
  tests/e2e/event_handler/conftest.py
  tests/e2e/event_handler/infrastructure.py
  tests/e2e/logger/conftest.py
  tests/e2e/logger/infrastructure.py
  tests/e2e/metrics/conftest.py
  tests/e2e/metrics/infrastructure.py
  tests/e2e/tracer/conftest.py
  tests/e2e/tracer/handlers/async_capture.py
  tests/e2e/tracer/handlers/basic_handler.py
  tests/e2e/tracer/handlers/same_function_name.py
  tests/e2e/tracer/infrastructure.py
  tests/e2e/tracer/test_tracer.py
  tests/e2e/utils/Dockerfile
  tests/e2e/utils/asset.py
  tests/e2e/utils/base.py
  tests/e2e/utils/constants.py
  tests/e2e/utils/infrastructure.py
  tests/e2e/utils/lambda_layer/__init__.py
  tests/e2e/utils/lambda_layer/base.py
  tests/e2e/utils/lambda_layer/powertools_layer.py
Due: black, isort, flake8

fix(ci): workflow should use npx for CDK CLI
  .github/workflows/run-e2e-tests.yml
Due: none

feat(idempotency): support methods with the same name (ABCs) by including fully qualified name in v2 (#1535)
  aws_lambda_powertools/utilities/idempotency/base.py
  docs/upgrade.md
  docs/utilities/idempotency.md
  tests/e2e/idempotency/__init__.py
  tests/e2e/idempotency/conftest.py
  tests/e2e/idempotency/handlers/parallel_execution_handler.py
  tests/e2e/idempotency/handlers/ttl_cache_expiration_handler.py
  tests/e2e/idempotency/handlers/ttl_cache_timeout_handler.py
  tests/e2e/idempotency/infrastructure.py
  tests/e2e/idempotency/test_idempotency_dynamodb.py
  tests/e2e/utils/data_fetcher/__init__.py
  tests/e2e/utils/data_fetcher/idempotency.py
  tests/e2e/utils/functions.py
  tests/functional/idempotency/conftest.py
  tests/functional/idempotency/test_idempotency.py
  tests/functional/idempotency/utils.py
Due: black, isort, flake8

chore: bump pyproject version to 2.0
  pyproject.toml
Due: none

chore(deps): lock importlib to 4.x
  poetry.lock
  pyproject.toml
Due: none

feat(layers): add support for publishing v2 layer (#1558)
  .github/workflows/publish_v2_layer.yml
  .github/workflows/reusable_deploy_v2_layer_stack.yml
  Makefile
  layer/app.py
  layer/layer/canary/app.py
  layer/layer/canary_stack.py
  layer/layer/layer_stack.py
  layer/poetry.lock
  layer/pyproject.toml
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
  tests/e2e/utils/infrastructure.py
  tests/e2e/utils/lambda_layer/powertools_layer.py
Due: black, isort, flake8

docs(v2): document optional dependencies and local dev (#1574)
  README.md
  docs/core/tracer.md
  docs/index.md
  docs/utilities/parser.md
  docs/utilities/validation.md
Due: none

refactor(e2e): fix idempotency typing
  tests/e2e/idempotency/infrastructure.py
Due: black, isort, flake8

refactor(e2e): make table name dynamic
  tests/e2e/idempotency/handlers/parallel_execution_handler.py
  tests/e2e/idempotency/handlers/ttl_cache_expiration_handler.py
  tests/e2e/idempotency/handlers/ttl_cache_timeout_handler.py
  tests/e2e/idempotency/infrastructure.py
Due: black, isort, flake8

bug(v2/idempotency-e2e): fixing e2e tests
  tests/e2e/idempotency/handlers/parallel_execution_handler.py
  tests/e2e/idempotency/handlers/ttl_cache_expiration_handler.py
  tests/e2e/idempotency/test_idempotency_dynamodb.py
Due: black, isort, flake8

feat(layer): publish SAR v2 via Github actions (#1585)
  .github/workflows/publish_v2_layer.yml
  .github/workflows/reusable_deploy_v2_layer_stack.yml
  .github/workflows/reusable_deploy_v2_sar.yml
  layer/app.py
  layer/poetry.lock
  layer/pyproject.toml
  layer/sar/template.txt
Due: black, isort, flake8

feat(parameters): migrate AppConfig to new APIs due to API deprecation (#1553)
  aws_lambda_powertools/utilities/parameters/appconfig.py
  aws_lambda_powertools/utilities/parameters/base.py
  docs/upgrade.md
  docs/utilities/feature_flags.md
  docs/utilities/parameters.md
  poetry.lock
  pyproject.toml
  tests/e2e/parameters/__init__.py
  tests/e2e/parameters/conftest.py
  tests/e2e/parameters/handlers/parameter_appconfig_freeform_handler.py
  tests/e2e/parameters/infrastructure.py
  tests/e2e/parameters/test_appconfig.py
  tests/functional/test_utilities_parameters.py
Due: black, isort, flake8

fix: lint files
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/utilities/data_classes/alb_event.py
  tests/e2e/event_handler/handlers/api_gateway_http_handler.py
  tests/e2e/event_handler/handlers/api_gateway_rest_handler.py
  tests/e2e/event_handler/handlers/lambda_function_url_handler.py
  tests/e2e/idempotency/handlers/parallel_execution_handler.py
  tests/e2e/idempotency/handlers/ttl_cache_expiration_handler.py
  tests/e2e/idempotency/handlers/ttl_cache_timeout_handler.py
  tests/e2e/parameters/infrastructure.py
  tests/e2e/utils/infrastructure.py
  tests/functional/event_handler/test_lambda_function_url.py
  tests/functional/test_utilities_batch.py
Due: black, isort, flake8

fix: mypy errors
  examples/parser/src/extending_built_in_models_with_json_mypy.py
Due: black, isort

chore: remove email-validator dependency from the all group
  poetry.lock
  pyproject.toml
Due: none

fix: add dev poetry group to install all dev dependencies
  Makefile
  poetry.lock
  pyproject.toml
Due: none

test fixes
  tests/functional/test_data_classes.py
Due: black, isort, flake8

feat(dataclass): fix test
  tests/functional/test_data_classes.py
Due: black, isort, flake8

feat(router): add feature and e2e tests for trailing slash on API calls
  tests/e2e/event_handler/handlers/alb_handler.py
  tests/e2e/event_handler/handlers/api_gateway_http_handler.py
  tests/e2e/event_handler/handlers/api_gateway_rest_handler.py
  tests/e2e/event_handler/handlers/lambda_function_url_handler.py
  tests/e2e/event_handler/infrastructure.py
  tests/e2e/event_handler/test_paths_ending_with_slash.py
  tests/events/albEventPathTrailingSlash.json
  tests/events/apiGatewayProxyEventPathTrailingSlash.json
  tests/events/apiGatewayProxyV2EventpathTrailingSlash.json
  tests/events/lambdaFunctionUrlEventPathTrailingSlash.json
  tests/functional/event_handler/test_api_gateway.py
  tests/functional/event_handler/test_lambda_function_url.py
Due: black, isort, flake8

feat(router): add routing of url paths ending in slashes correctly for APIGatewayRestRsolver
  aws_lambda_powertools/event_handler/api_gateway.py
Due: black, isort, flake8

fix(docs): added v2 layer and SAR
  .pre-commit-config.yaml
  docs/index.md
Due: none

feat: automate layer version publishing when deploying
  .github/workflows/publish_v2_layer.yml
  .github/workflows/reusable_deploy_v2_layer_stack.yml
  .github/workflows/reusable_publish_v2_layer_arn.yml
  layer/scripts/update_layer_arn.sh
Due: none

Revert "fix: add dev poetry group to install all dev dependencies"
  Makefile
  poetry.lock
  pyproject.toml
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$, but not: example
