Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

black:
  name: formatting::black
  entry: poetry run black
  language: system

isort:
  name: formatting::isort
  entry: poetry run isort
  language: system

flake8:
  name: linting::flake8
  entry: poetry run flake8
  language: system

chore(ci): sync area labels to prevent dedup
  .github/boring-cyborg.yml
  .github/scripts/constants.js
  .github/scripts/label_pr_based_on_title.js
Due: none

fix(tests): missing cognito_amr property
  tests/functional/data_classes/test_lambda_function_url.py
Due: black, isort, flake8

fix(event_sources): add test for Function URL AuthZ (#1421)
  aws_lambda_powertools/utilities/data_classes/api_gateway_proxy_event.py
  tests/events/lambdaFunctionUrlEvent.json
  tests/events/lambdaFunctionUrlIAMEvent.json
  tests/functional/data_classes/test_lambda_function_url.py
  tests/functional/event_handler/test_lambda_function_url.py
Due: black, isort, flake8

docs(jmespath_util): include example for nested data
  docs/utilities/jmespath_functions.md
  examples/jmespath_functions/src/extract_data_from_envelope.json
  examples/jmespath_functions/src/extract_data_from_envelope.py
Due: black, isort

docs(jmespath_util): fix return type
  examples/jmespath_functions/src/extract_data_from_builtin_envelope.py
  examples/jmespath_functions/src/extract_data_from_envelope.py
Due: black, isort

chore(ci): update changelog with latest changes
  CHANGELOG.md
Due: none

fix(ci): add explicit origin to fix release detached head
  .github/workflows/reusable_publish_changelog.yml
Due: none

Revert "fix(ci): add explicit origin to fix release detached head"
  .github/workflows/reusable_publish_changelog.yml
Due: none

fix(ci): temporarily disable changelog upon release
  .github/workflows/publish.yml
Due: none

fix(ci): move from pip-tools to poetry on layers
  .github/workflows/publish_layer.yml
  layer/poetry.lock
  layer/pyproject.toml
  layer/requirements-dev.txt
  layer/requirements.txt
Due: none

fix(ci): move from pip-tools to poetry on layers reusable workflow
  .github/workflows/reusable_deploy_layer_stack.yml
Due: none

fix(ci): add cdk v2 dep for layers workflow
  layer/poetry.lock
  layer/pyproject.toml
Due: none

fix(ci): disable poetry venv for layer workflow as cdk ignores venv
  .github/workflows/publish_layer.yml
  .github/workflows/reusable_deploy_layer_stack.yml
Due: none

fix(ci): use poetry to resolve layer deps; pip for CDK
  .github/workflows/publish_layer.yml
  .github/workflows/reusable_deploy_layer_stack.yml
Due: none

fix(ci): typo and bust gh actions cache
  .github/workflows/publish_layer.yml
  .github/workflows/reusable_deploy_layer_stack.yml
Due: none

docs(layer): upgrade to 1.27.0
  docs/index.md
Due: none

fix(ci): move from pip-tools to poetry on layers to fix conflicts
  .github/workflows/publish_layer.yml
  .github/workflows/reusable_deploy_layer_stack.yml
  layer/poetry.lock
  layer/pyproject.toml
  layer/requirements-dev.txt
  layer/requirements.txt
Due: none

Removes duplicate admonition
  docs/core/event_handler/api_gateway.md
Due: none

Minor grammar fix
  docs/utilities/parser.md
Due: none

docs(jmespath_function): Refactoring codes for demonstration purposes - generic envelope
  examples/jmespath_functions/src/powertools_json_jmespath_function.py
  examples/jmespath_functions/src/powertools_json_jmespath_payload.json
  examples/jmespath_functions/src/powertools_json_jmespath_schema.py
Due: black, isort

docs(jmespath_function): Refactoring codes for demonstration purposes - generic envelope (small fixes)
  examples/jmespath_functions/src/powertools_json_jmespath_payload.json
  examples/jmespath_functions/src/powertools_json_jmespath_schema.py
Due: black, isort

docs(jmespath_function): Refactoring codes for demonstration purposes - generic envelope (small fixes)
  examples/jmespath_functions/src/powertools_json_jmespath_function.py
Due: black, isort

docs(jmespath_function): Refactoring codes for demonstration purposes - generic envelope (small fixes)
  docs/utilities/jmespath_functions.md
  examples/jmespath_functions/src/powertools_json_jmespath_function.py
Due: black, isort

docs(jmespath_function): Refactoring codes for demonstration purposes - generic envelope (highlight code)
  docs/utilities/jmespath_functions.md
Due: none

docs(jmespath_function): Refactoring codes for demonstration purposes - generic envelope - changing to more clean and userful code
  examples/jmespath_functions/src/powertools_json_jmespath_function.py
Due: black, isort

docs(jmespath_function): Refactoring codes for demonstration purposes - generic envelope - changing to more clean and userful code
  docs/utilities/jmespath_functions.md
Due: none

docs(jmespath_function): Refactoring codes - base64 envelope
  docs/utilities/jmespath_functions.md
  examples/jmespath_functions/src/powertools_base64_jmespath_function.py
  examples/jmespath_functions/src/powertools_base64_jmespath_payload.json
  examples/jmespath_functions/src/powertools_base64_jmespath_schema.py
Due: black, isort

docs(jmespath_function): Refactoring examples - base64-gzip envelope
  docs/utilities/jmespath_functions.md
  examples/jmespath_functions/src/powertools_base64_gzip_jmespath_function.py
  examples/jmespath_functions/src/powertools_base64_gzip_jmespath_payload.json
  examples/jmespath_functions/src/powertools_base64_gzip_jmespath_schema.py
Due: black, isort

docs(jmespath_function): Refactoring examples - small fixes
  examples/jmespath_functions/src/powertools_base64_gzip_jmespath_function.py
  examples/jmespath_functions/src/powertools_base64_jmespath_function.py
  examples/jmespath_functions/src/powertools_json_jmespath_function.py
Due: black, isort

docs(jmespath_function): Refactoring examples - small fixes
  examples/jmespath_functions/src/powertools_json_idempotency_jmespath.py
Due: black, isort

refactor(e2e): encapsulate assets logic; add sample stack
  poetry.lock
  pyproject.toml
  tests/e2e/metrics/infrastructure.py
  tests/e2e/utils/asset.py
  tests/e2e/utils/models.py
Due: black, isort, flake8

chore(dep): remove flake8-black due to intermittent preview errors
  poetry.lock
  pyproject.toml
Due: none

refactor: setup infra fixture
  tests/e2e/metrics/conftest.py
  tests/e2e/metrics/infrastructure.py
Due: black, isort, flake8

refactor: dummy test using new explicit infra
  tests/e2e/metrics/conftest.py
  tests/e2e/metrics/handlers/basic_handler.py
  tests/e2e/metrics/infrastructure.py
  tests/e2e/metrics/test_metrics.py
  tests/e2e/utils/helpers.py
Due: black, isort, flake8

docs(jmespath_function): Refactoring examples - custom function envelope
  docs/utilities/jmespath_functions.md
  examples/jmespath_functions/src/powertools_custom_jmespath_function.json
  examples/jmespath_functions/src/powertools_custom_jmespath_function.py
Due: black, isort

refactor: update test_metrics to use new verbose infra
  tests/e2e/metrics/test_metrics.py
Due: black, isort, flake8

chore(ci): reduce payload and only send prod notification
  layer/app.py
  layer/layer/canary/app.py
Due: black, isort, flake8

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$, but not: example
