Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

black:
  name: formatting::black
  entry: poetry run black
  language: system

isort:
  name: formatting::isort
  entry: poetry run isort
  language: system

flake8:
  name: linting::flake8
  entry: poetry run flake8
  language: system

fix: bugbear issues
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/metrics/base.py
  aws_lambda_powertools/shared/functions.py
  aws_lambda_powertools/shared/headers_serializer.py
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
Due: black, isort, flake8

docs(home): update powertools definition
  README.md
Due: none

fix(logger) Allow reporting entry logs with custom exception and exception_name fields (#1923)
  aws_lambda_powertools/logging/formatter.py
  tests/functional/test_logger.py
Due: black, isort, flake8

fix(logger): adding comments
  aws_lambda_powertools/logging/formatter.py
  tests/functional/test_logger.py
Due: black, isort, flake8

fix(logger): making tests more readable
  tests/functional/test_logger.py
Due: black, isort, flake8

fix(logger): support exception and exception_name fields at any log level (#1930)
  aws_lambda_powertools/logging/formatter.py
  tests/functional/test_logger.py
Due: black, isort, flake8

feat(batch): support SQS FIFO queues
  aws_lambda_powertools/utilities/batch/__init__.py
  aws_lambda_powertools/utilities/batch/sqs_fifo_partial_processor.py
  docs/utilities/batch.md
  examples/batch_processing/src/sqs_fifo_batch_processor.py
  examples/batch_processing/src/sqs_fifo_batch_processor_context_manager.py
  tests/functional/test_utilities_batch.py
Due: black, isort, flake8

fix(metrics): clarify no-metrics user warning
  aws_lambda_powertools/metrics/base.py
  tests/functional/test_metrics.py
Due: black, isort, flake8

fix(metrics): clarify no-metrics user warning (#1935)
  aws_lambda_powertools/metrics/base.py
  tests/functional/test_metrics.py
Due: black, isort, flake8

docs(event-handler): removing options method from docs
  docs/core/event_handler/api_gateway.md
Due: none

docs(we-made-this): adding featureflags post
  docs/we_made_this.md
Due: none

feat(redis) - refactoring connection and fixing mypy errors
  aws_lambda_powertools/utilities/connections/__init__.py
  aws_lambda_powertools/utilities/connections/redis.py
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  aws_lambda_powertools/utilities/idempotency/persistence/redis.py
  poetry.lock
  pyproject.toml
Due: black, isort, flake8

feat(redis) - removing wrong print
  aws_lambda_powertools/utilities/connections/redis.py
Due: black, isort, flake8

docs(we-made-this): add Feature Flags post (#1939)
  docs/we_made_this.md
Due: none

update changelog with latest changes
  CHANGELOG.md
Due: none

docs(event_handlers): Fix REST API - HTTP Methods documentation (#1936)
  docs/core/event_handler/api_gateway.md
Due: none

fix: addressed review comments
  aws_lambda_powertools/utilities/batch/__init__.py
  aws_lambda_powertools/utilities/batch/base.py
  aws_lambda_powertools/utilities/batch/sqs_fifo_partial_processor.py
  aws_lambda_powertools/utilities/batch/types.py
Due: black, isort, flake8

fix: typo
  aws_lambda_powertools/utilities/batch/types.py
Due: black, isort, flake8

docs(we-made-this): adding ci/cd featureflags
  docs/we_made_this.md
Due: none

feat(redis) - removing fields and adding additional logic to validate the idempotency key
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  aws_lambda_powertools/utilities/idempotency/persistence/redis.py
Due: black, isort, flake8

feat(redis) - adding redis as dev dependency
  poetry.lock
  pyproject.toml
Due: none

fix: address review
  aws_lambda_powertools/utilities/batch/__init__.py
  aws_lambda_powertools/utilities/batch/sqs_fifo_partial_processor.py
  aws_lambda_powertools/utilities/batch/types.py
  docs/utilities/batch.md
  examples/batch_processing/src/sqs_fifo_batch_processor.py
  examples/batch_processing/src/sqs_fifo_batch_processor_context_manager.py
  tests/functional/test_utilities_batch.py
Due: black, isort, flake8

Update tests/functional/test_utilities_batch.py
  tests/functional/test_utilities_batch.py
Due: black, isort, flake8

docs: fix typo
  docs/utilities/batch.md
Due: none

feat(batch): add support to SQS FIFO queues (SqsFifoPartialProcessor) (#1934)
  aws_lambda_powertools/utilities/batch/__init__.py
  aws_lambda_powertools/utilities/batch/base.py
  aws_lambda_powertools/utilities/batch/sqs_fifo_partial_processor.py
  aws_lambda_powertools/utilities/batch/types.py
  docs/utilities/batch.md
  examples/batch_processing/src/sqs_fifo_batch_processor.py
  examples/batch_processing/src/sqs_fifo_batch_processor_context_manager.py
  tests/functional/test_utilities_batch.py
Due: black, isort, flake8

fix(ci): upgraded cdk to match the version used on e2e tests
  package-lock.json
  package.json
Due: none

docs(we-made-this): add CI/CD using Feature Flags video (#1940)
  docs/we_made_this.md
Due: none

bump version to 2.9.0
  pyproject.toml
Due: none

chore: update v2 layer ARN on documentation
  docs/index.md
Due: none

Clean up and logic additions
  aws_lambda_powertools/utilities/data_classes/event_bridge_event.py
Due: black, isort, flake8

add route kwargs - event & context
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/test_api_gateway.py
  tests/functional/event_handler/test_lambda_function_url.py
  tests/functional/event_handler/test_router.py
Due: black, isort, flake8

Replace deprecated set-output commands
  .github/workflows/release.yml
  .github/workflows/reusable_export_pr_details.yml
Due: none

chore(ci): replace deprecated set-output commands (#1957)
  .github/workflows/release.yml
  .github/workflows/reusable_export_pr_details.yml
Due: none

chore: add mutation in schema and resolver sample
  examples/event_handler_graphql/sam/template.yaml
  examples/event_handler_graphql/src/getting_started_schema.graphql
Due: none

docs: improved explanation about type and field
  docs/core/event_handler/appsync.md
Due: none

Update parameters.md
  docs/utilities/parameters.md
Due: none

docs: extend resolver with mutation example
  docs/core/event_handler/appsync.md
  examples/event_handler_graphql/src/getting_started_graphql_api_resolver.py
Due: black, isort

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$, but not: example
