Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: isort
        name: formatting::isort
        entry: poetry run isort
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: flake8
        name: linting::flake8
        entry: poetry run flake8
        language: system
        types: [python]
        exclude: example
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "11c08644ce6df850480d98f628596446a526cbc6" # frozen: v0.31.1
    hooks:
      - id: markdownlint
        args: ["--fix"]

docs(tracer): fix service name consistency leftover
  examples/tracer/sam/template.yaml
Due: none

chore(ci): improve wording on closed issues action
  .github/workflows/on_closed_issues.yml
Due: none

Create helper function for fetching trace metadata
  tests/e2e/logger/test_logger.py
  tests/e2e/metrics/handlers/basic_handler.py
  tests/e2e/metrics/test_metrics.py
  tests/e2e/tracer/handlers/basic_handler.py
  tests/e2e/tracer/test_tracer.py
  tests/e2e/utils/helpers.py
  tests/e2e/utils/infrastructure.py
Due: black, isort, flake8

docs(logger): document enriching logs with logrecord attributes
  docs/core/logger.md
  examples/logger/src/append_and_remove_keys.json
  examples/logger/src/append_and_remove_keys.py
Due: black, isort

docs(logger): shorten sentences for readability
  docs/core/logger.md
Due: none

docs(logger): fix incorrect function name
  examples/logger/src/cloning_logger_config.py
Due: black, isort

docs(logger): write Powertools with Capitalization
  docs/core/logger.md
Due: none

docs(logger): Use headers for FAQ section
  docs/core/logger.md
Due: none

docs(logger): be consistent in use of "Powertools Logger"
  docs/core/logger.md
Due: none

docs(logger): document enriching logs with logrecord attributes (#1271)
  docs/core/logger.md
  examples/logger/src/append_and_remove_keys.json
  examples/logger/src/append_and_remove_keys.py
  examples/logger/src/cloning_logger_config.py
Due: black, isort

docs(metrics): split getting started snippets; fix nav, wording etc
  docs/core/metrics.md
  examples/metrics/sam/template.yaml
  examples/metrics/src/add_dimension.py
  examples/metrics/src/add_metrics.py
  examples/metrics/src/add_multi_value_metrics.py
  examples/metrics/src/add_multi_value_metrics_output.json
  examples/metrics/src/capture_cold_start_metric.py
  examples/metrics/src/capture_cold_start_metric_output.json
  examples/metrics/src/log_metrics_output.json
  examples/metrics/src/raise_on_empty_metrics.py
  examples/metrics/src/set_default_dimensions.py
  examples/metrics/src/set_default_dimensions_log_metrics.py
Due: black, isort

docs(metrics): split advanced, re-create tests
  docs/core/metrics.md
  examples/metrics/src/add_metadata.py
  examples/metrics/src/add_metadata_output.json
  examples/metrics/src/assert_multiple_emf_blobs.py
  examples/metrics/src/assert_multiple_emf_blobs_module.py
  examples/metrics/src/assert_single_emf_blob.py
  examples/metrics/src/clear_metrics_in_tests.py
  examples/metrics/src/manual_flush.py
  examples/metrics/src/run_tests_env_var.sh
  examples/metrics/src/single_metric.py
  examples/metrics/src/single_metric_output.json
Due: black, isort

docs(metrics): note on examples using env var for brevity
  docs/core/metrics.md
Due: none

docs(metrics): snippets split, improved, and lint (#1272)
  docs/core/metrics.md
  docs/core/tracer.md
  examples/metrics/sam/template.yaml
  examples/metrics/src/add_dimension.py
  examples/metrics/src/add_metadata.py
  examples/metrics/src/add_metadata_output.json
  examples/metrics/src/add_metrics.py
  examples/metrics/src/add_multi_value_metrics.py
  examples/metrics/src/add_multi_value_metrics_output.json
  examples/metrics/src/assert_multiple_emf_blobs.py
  examples/metrics/src/assert_multiple_emf_blobs_module.py
  examples/metrics/src/assert_single_emf_blob.py
  examples/metrics/src/capture_cold_start_metric.py
  examples/metrics/src/capture_cold_start_metric_output.json
  examples/metrics/src/clear_metrics_in_tests.py
  examples/metrics/src/log_metrics_output.json
  examples/metrics/src/manual_flush.py
  examples/metrics/src/raise_on_empty_metrics.py
  examples/metrics/src/run_tests_env_var.sh
  examples/metrics/src/set_default_dimensions.py
  examples/metrics/src/set_default_dimensions_log_metrics.py
  examples/metrics/src/single_metric.py
  examples/metrics/src/single_metric_output.json
Due: black, isort

Add comment to Dockerfile
  tests/e2e/utils/Dockerfile
Due: none

Add typing for AWS services clients
  poetry.lock
  pyproject.toml
  tests/e2e/utils/helpers.py
Due: black, isort, flake8

Unified types
  tests/e2e/utils/infrastructure.py
Due: black, isort, flake8

Add PR suggestions
  pyproject.toml
  tests/e2e/logger/test_logger.py
  tests/e2e/metrics/test_metrics.py
  tests/e2e/tracer/handlers/basic_handler.py
  tests/e2e/tracer/test_tracer.py
  tests/e2e/utils/helpers.py
  tests/e2e/utils/infrastructure.py
Due: black, isort, flake8

Support additional args for a lambda handler when injecting lambda context
  aws_lambda_powertools/logging/logger.py
  tests/functional/test_logger.py
Due: black, isort, flake8

fix(logger): support additional args for handlers when injecting lambda context (#1276)
  aws_lambda_powertools/logging/logger.py
  tests/functional/test_logger.py
Due: black, isort, flake8

fix(ci): improve msg visibility on closed issues
  .github/workflows/on_closed_issues.yml
Due: none

chore(ci): reactivate on_merged_pr workflow
  .github/disabled_on_merged_pr.yml
  .github/scripts/label_related_issue.js
  .github/workflows/on_merged_pr.yml
Due: none

fix(logger): preserve std keys when using custom formatters (#1264)
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/logging/logger.py
  tests/functional/test_logger.py
Due: black, isort, flake8

chore: bump to version 1.26.3
  CHANGELOG.md
  pyproject.toml
Due: none

chore: add layer project
  .github/workflows/publish_layer.yml
  layer/.gitignore
  layer/.npmignore
  layer/README.md5
  layer/bin/layer.ts
  layer/cdk.json
  layer/jest.config.js
  layer/package-lock.json
  layer/package.json
  layer/test/layer.test.ts
  layer/tsconfig.json
Due: none

reduce to 1 region for dev
  .github/workflows/publish_layer.yml
Due: none

chore: shorter name for the workflow
  .github/workflows/publish_layer.yml
Due: none

fix ignore markdown lint for now
  layer/README.md
Due: none

fix(ci): checkout project before validating related issue workflow
  .github/workflows/on_merged_pr.yml
Due: none

fix: more f strings
  .github/workflows/publish_layer.yml
  layer/.gitignore
  layer/.npmignore
  layer/app.py
  layer/bin/layer.ts
  layer/cdk.json
  layer/jest.config.js
  layer/layer/__init__.py
  layer/layer/canary/app.py
  layer/layer/canary_stack.py
  layer/layer/layer_stack.py
  layer/package-lock.json
  layer/package.json
  layer/requirements-dev.txt
  layer/requirements.txt
  layer/source.bat
  layer/test/layer.test.ts
  layer/tsconfig.json
Due: black, isort, flake8

ignore mdlint
  layer/README.md
Due: none

chore(layers): bump to 22 for 1.26.3
  docs/index.md
Due: none

chore(ci): limits concurrency for docs workflow
  .github/workflows/python_docs.yml
  .github/workflows/rebuild_latest_docs.yml
Due: none

fix(ci): regex to catch combination of related issues workflow
  .github/scripts/label_related_issue.js
Due: none

docs: tidy up key features
  docs/core/event_handler/api_gateway.md
Due: none

add reusable workflow for both beta and prod
  .github/workflows/delploy_cdk_stack.yml
  .github/workflows/publish_layer.yml
Due: none

docs: split SAM
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/sam/template.yaml
Due: none

Update layer/layer/canary/app.py
  layer/layer/canary/app.py
Due: black, isort, flake8
