Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: isort
        name: formatting::isort
        entry: poetry run isort
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: flake8
        name: linting::flake8
        entry: poetry run flake8
        language: system
        types: [python]
        exclude: example
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "11c08644ce6df850480d98f628596446a526cbc6" # frozen: v0.31.1
    hooks:
      - id: markdownlint
        args: ["--fix"]

Fix missing import
  examples/middleware_factory/src/getting_started_middleware_after_logic_function.py
Due: black, isort

chore: update documentation
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/getting_started_return_tuple.py
  examples/event_handler_rest/src/http_methods.py
  examples/event_handler_rest/src/http_methods_multiple.py
  examples/middleware_factory/src/getting_started_middleware_after_logic_function.py
Due: black, isort

feat(event_handlers) Add support for returning dict, status-code tuples from resolvers (#1853)
  aws_lambda_powertools/event_handler/api_gateway.py
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/getting_started_return_tuple.py
  tests/functional/event_handler/test_api_gateway.py
Due: black, isort, flake8

fix: git-chlg docker image is broken
  Makefile
Due: none

update changelog with latest changes
  CHANGELOG.md
Due: none

bump version to 2.7.0
  pyproject.toml
Due: none

chore: update v2 layer ARN on documentation
  docs/index.md
Due: none

fix: bump aws-cdk version
  package-lock.json
  package.json
Due: none

fix: parallel_run should fail when e2e tests fail
  parallel_run_e2e.py
Due: black, isort, flake8

fix(ci): scope e2e tests by python version
  tests/e2e/utils/infrastructure.py
Due: black, isort, flake8

event.parse_logs_data to event.parse_logs_data()
  docs/utilities/data_classes.md
Due: none

docs(event-source): fix incorrect method in example CloudWatch Logs (#1857)
  docs/utilities/data_classes.md
Due: none

fix: parameter
  tests/e2e/conftest.py
Due: black, isort, flake8

fix: use xdist
  parallel_run_e2e.py
  tests/e2e/conftest.py
  tests/e2e/event_handler/conftest.py
  tests/e2e/event_handler/test_header_serializer.py
  tests/e2e/event_handler/test_paths_ending_with_slash.py
  tests/e2e/idempotency/conftest.py
  tests/e2e/idempotency/test_idempotency_dynamodb.py
  tests/e2e/logger/conftest.py
  tests/e2e/logger/test_logger.py
  tests/e2e/metrics/conftest.py
  tests/e2e/metrics/test_metrics.py
  tests/e2e/parameters/conftest.py
  tests/e2e/parameters/test_appconfig.py
  tests/e2e/parameters/test_ssm.py
  tests/e2e/streaming/conftest.py
  tests/e2e/streaming/test_s3_object.py
  tests/e2e/tracer/conftest.py
  tests/e2e/tracer/test_tracer.py
  tests/e2e/utils/infrastructure.py
Due: black, isort, flake8

fix: parallel lambdas
  tests/e2e/utils/functions.py
Due: black, isort, flake8

fix: make sure multiple e2e tests run concurrently
  tests/e2e/conftest.py
  tests/e2e/event_handler/conftest.py
  tests/e2e/idempotency/conftest.py
  tests/e2e/logger/conftest.py
  tests/e2e/metrics/conftest.py
  tests/e2e/parameters/conftest.py
  tests/e2e/streaming/conftest.py
  tests/e2e/tracer/conftest.py
  tests/e2e/utils/infrastructure.py
Due: black, isort, flake8

fix: don't kill e2e tests when one version fails
  .github/workflows/run-e2e-tests.yml
Due: none

chore: document
  parallel_run_e2e.py
  tests/e2e/conftest.py
  tests/e2e/utils/functions.py
Due: black, isort, flake8

fix: eval
  tests/e2e/utils/functions.py
Due: black, isort, flake8

fix: parameters test
  tests/e2e/parameters/infrastructure.py
Due: black, isort, flake8

fix: simplified parallel lambdas
  tests/e2e/utils/functions.py
Due: black, isort, flake8

(redis): initial commit
  aws_lambda_powertools/utilities/idempotency/__init__.py
  aws_lambda_powertools/utilities/idempotency/exceptions.py
  aws_lambda_powertools/utilities/idempotency/persistence/redis.py
  poetry.lock
  pyproject.toml
Due: black, isort, flake8

fix: move dist=group option to pytest.ini
  pyproject.toml
  tests/e2e/conftest.py
Due: black, isort, flake8

Add `MIT No Attribution` header in LICENSE
  LICENSE
Due: none

fix: apply loadgroup only to e2e tests
  pyproject.toml
  tests/e2e/pytest.ini
Due: none

fix(tests): make sure multiple e2e tests run concurrently (#1861)
  .github/workflows/run-e2e-tests.yml
  parallel_run_e2e.py
  tests/e2e/event_handler/conftest.py
  tests/e2e/event_handler/test_header_serializer.py
  tests/e2e/event_handler/test_paths_ending_with_slash.py
  tests/e2e/idempotency/conftest.py
  tests/e2e/idempotency/test_idempotency_dynamodb.py
  tests/e2e/logger/conftest.py
  tests/e2e/logger/test_logger.py
  tests/e2e/metrics/conftest.py
  tests/e2e/metrics/test_metrics.py
  tests/e2e/parameters/conftest.py
  tests/e2e/parameters/infrastructure.py
  tests/e2e/parameters/test_appconfig.py
  tests/e2e/parameters/test_ssm.py
  tests/e2e/pytest.ini
  tests/e2e/streaming/conftest.py
  tests/e2e/streaming/test_s3_object.py
  tests/e2e/tracer/conftest.py
  tests/e2e/tracer/test_tracer.py
  tests/e2e/utils/functions.py
  tests/e2e/utils/infrastructure.py
Due: black, isort, flake8

fix(tests): remove custom workers
  .github/actionlint.yaml
  .github/workflows/publish_v2_layer.yml
  .github/workflows/release.yml
  .github/workflows/run-e2e-tests.yml
Due: none

Revert "fix(tests): remove custom workers"
  .github/actionlint.yaml
  .github/workflows/publish_v2_layer.yml
  .github/workflows/release.yml
  .github/workflows/run-e2e-tests.yml
Due: none

(chore): addressing Ruben's feedbacks
  docs/utilities/parameters.md
  examples/parameters/src/get_parameter_by_name_error_handling.py
  examples/parameters/src/getting_started_parameter_by_name.py
Due: black, isort

(chore): import errors
  examples/parameters/src/get_parameter_by_name_error_handling.py
  examples/parameters/src/getting_started_parameter_by_name.py
Due: black, isort

fix(tests): make logs fetching more robust
  tests/e2e/logger/test_logger.py
  tests/e2e/utils/data_fetcher/logs.py
Due: black, isort, flake8

fix(tests): addressed new bugbear issues
  tests/functional/idempotency/test_idempotency.py
Due: black, isort, flake8

Update tests/e2e/utils/data_fetcher/logs.py
  tests/e2e/utils/data_fetcher/logs.py
Due: black, isort, flake8

chore: refactor
  tests/e2e/logger/test_logger.py
  tests/e2e/utils/data_fetcher/logs.py
Due: black, isort, flake8

fix(tests): make logs fetching more robust (#1878)
  tests/e2e/logger/test_logger.py
  tests/e2e/utils/data_fetcher/logs.py
Due: black, isort, flake8

chore: fmt and linting
  aws_lambda_powertools/utilities/batch/__init__.py
  aws_lambda_powertools/utilities/batch/base.py
  tests/functional/test_utilities_batch.py
Due: black, isort, flake8
